$nav-off-canvas-width: 70%;

/* Older MSIE workarounds */
.lt-ie9 article, .lt-ie9 aside, .lt-ie9 nav {
	display: block;
}

html {
	font-size: 62.5%;
}

body {
	color: #333333;
	@include font-size(13);
	line-height: 1.5;
	min-width: 250px;
	background: #FFF;
	@include opensans;
	 -webkit-font-smoothing: antialiased !important;
}

#wrap {
	max-width: 100%;
	overflow: hidden;
}

#header {

	.logo-container {
		width:20%;
		float: left;

		img {
			margin: 1.1em 0;

			@include device-width(6) {
				max-width: 50%;
				margin: 0;
			}


			@include device-width(4) {
				max-width: 70%;
				margin: 0;
			}			
		}

		@include device-width(9) {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: $nav-off-canvas-width;
		    text-align: center;
		}		
	}

	.navigation-container {
		width: 79%;
		float: right;
		background: #FFF;

		@include device-width(9) {
			width: 100%;
		}

		.information {
			@extend .clearfix;
			border-bottom: 1px solid #EBEBEB;
			padding-bottom: 0.9em;

			@include device-width(6) {
				display: none;
			}

			p {
				float: left;
				@include font-size(14);
				color: #44425A;
				margin: 0;

				span {
					color: #3178CC;
					@include opensans-light;
					@include font-size(28);
				}

				@include device-width(12) {
					@include font-size(10);
					margin-top: 0.5em;

					span {
						@include font-size(21);
					}
				}

				@include device-width(10) {
					@include font-size(14);
					margin-top: 1em;

					span {
						@include font-size(28);
					}
				}

				@include device-width(7) {

					span {
						@include font-size(20);
					}
				}				
			}

			.buttons {
				float: right;
				margin-top:9px;

				a {
					@include opensans;
					color: #FFF;
					@include font-size(15);
					padding: 11px 50px;
					@include border_radius_bottom(5px);
					margin-left: 11px;

					&:before {
						@extend [class*="icon-"];
					}

					&.get-in-touch {
						background: #8EC555;
						@include vertical-gradient(#8EC555, #78AF3F);
						&:before {
							@extend .icon-bubble:before;
						}

						&:hover {
							@include vertical-gradient(#78AF3F, #8EC555);
						}						
					}

					&.live-chat {
						@include vertical-gradient(#EC9D0A, #EE8803);
						&:before {
							@extend .icon-chat:before;
						}

						&:hover {
							@include vertical-gradient(#EE8803, #EC9D0A);
						}
					}					
				}
			}
		}
	}


/***************************************************************************************/
/* TOP NAVIGATION 																	   */
/***************************************************************************************/
	.top-navigation {
		@extend .clearfix;
		position: relative;
		padding: 13px 0;

		@include device-width(6) {
			padding-left: 50px;
			background: url(../images/logos/header_small.jpg) left center no-repeat;
		}

		>ul {
			float: left;
			list-style-type: none;
			padding: 0;
			margin: 0;


			>li {
				float: left;
				@include transition(all 0.3s ease);
				zoom: 0;

			 	> a {
			 		display: inline-block;
					padding: 0 0;
			 		@include font-size(18);
				 	position: relative;
			 		line-height: 1;
			 		margin-right: 5px;
			 		color: #4A4A4A;
			 		padding: 15px 17px;
			 		@include border-radius(3px);

			 		@include device-width(5) {
			 			padding: 15px 7px;
			 		} 

			 		@include device-width(5) {
			 			padding: 15px 7px;
			 		}			 		
			 	}

			 	&:hover > a {
			 		color: #FFF !important;
			 		background: #4E4E4E !important;
			 	}			 	

			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #4A4A4A;
			 		background: #EAEAEA;
			 	}

			 	.sub-menu {
				    position:absolute;
				    top:-99999px;
				    left:0; 
				    opacity: 0;
			        @include transition(opacity .3s ease-in-out);
				    z-index:497;
				    background:#FFF;
				    padding: 2px;
				    border:1px solid #C1C1C1;
				    border-top: 8px solid #4E4E4E;
				    @include box-shadow(#363636 0 3px 4px);
				    @include border-radius(6px);
				    list-style-type: none;
				    padding: 20px;

				    li {
				    	display: block;
		 				margin: 5px 0;

				    	a {
				    		display: block;
				    		@include font-size(16);
				    		color: #4A90E2;

				    		&:hover {
				    			color: #4E4E4E;#
				    			text-decoration: underline;
				    		}
				    	}
				    }
			 	}		

			 	&:hover {
				 	.sub-menu {
						opacity: 1;
						position:absolute;
						top:76%;
						left:0;

					 	@include device-width(7) {
					 		opacity: 0;
						    top:-99999px;
						    left:0;	
						    display: none;				 		
					 	}
				 	}
			 	}

			 	@include device-width(8) {
			 		.sub-menu {
			 			display: none;
			 		}
			 	}				 	

			 	&.about {
			 		ul {
			 			width: 50%;

			 			li {
			 				width: 49%;
			 				float: left;
			 			}
			 		}
			 	}				

			 	&.news {
			 		ul {
			 			width: 100%;
			 			@include borderbox;

			 			> div.nav {
			 				width: 30%;
			 				float: left;
			 			}

			 			.carousel {
			 				width: 70%;
			 				float: right;

			 				.nav {
			 					display: none;
			 				}

			 				.ce-inner {
			 					padding: 0 20px;

			 					a {
			 						line-height: 1.2;
			 					}
			 				}

			 				.carousel-container {
			 					padding: 0;
			 					border-left: 1px solid #C0C0C0;
			 				}
			 			}
			 		}
			 	}	
			}
		}

		#searchform {
			float: left;
			margin-left: 20px;
			padding-top: 2px;

			@media only screen and (max-width: 700px) {	
				display: none;
			}

			&:before {
				@extend [class*="icon-"];
				@extend .icon-search:before;
				color: #3178CC;
			}

			#s {
				border: none;
				@include font-size(18);
				color: #4A4A4A;
				padding-left: 2px;
				width: 200px;

				@include device-width(6) {
					width: 160px;
				}
			}

			#searchsubmit {
				display: none;
			}
		}			

		.woo-nav {
			float: right;
			padding: 0.9em 0;

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}

			li {
				@extend [class*="icon-"];
				float: left;
				margin-left: 35px;
				line-height: 22px;

				@include device-width(6) {
					margin-left: 20px;
				}				

				@include device-width(4) {
					margin-left: 15px;
				}

				a:before {
					color: #3178CC;
					@include transition(all 0.3s ease);
					margin-right: 0.5em;
					float: left;
				}

				&:hover {
					a:before, a {
						color: #9BCC6B;
					}
				}

				&.logout a:before {
					@extend .icon-logout:before;
				}

				&.account a:before {
					@extend .icon-profile:before;
				}

				&.login a:before {
					@extend .icon-login:before;
				}

				&.cart a:before {
					@extend .icon-basket:before;
				}				

				a {
					@include font-size(16);
					@include inline-block;

					@include device-width(7) {
						span {
							display: none;
						}
					}
				}

			}


		}

	}



	.mobile-navigation-btn {
		position: absolute;
		right: 3.3em;
		top: 3.5em;

		@include device-width(13) {
			display: inline-block;
		}
	}
	

/***************************************************************************************/
/* MAIN NAVIGATION 																	   */
/***************************************************************************************/

	.main-navigation {
		@extend .clearfix;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			
			> li {
				float: left;
				width: 32.666666%;
				margin-right: 1%;
				@include transition(none);
				zoom: 0;

				&:hover {
					margin-bottom:0;
				}

				&.last {
					margin-right: 0;
				}

			 	> a {
					padding: 0 0;
			 		@include font-size(18);
			 		color: #FFF;
				 	position: relative;
			 		line-height: 1;
			 		display: block;
			 		text-align: center;
			 		padding: 1em 0;
			 		@include border-radius(5px);
					@include transition(none);

					@include device-width(8) {
						margin-bottom: 7px;
					}					

					@include device-width(5) {
						@include font-size(16);
					}
			 	}

			 	> ul {
	 				list-style-type: none;

					.widget-nav-menu {
	 					width: 100%;
	 					@extend .clearfix;

	 					ul.menu {
	 						padding: 0;
	 						margin:0;

	 						li {
	 							float: left;
	 							width: 32%;
	 							list-style: none;
	 							@include borderbox;
	 							margin: 0.5%;
								

								a {
									padding: 1.5em;
									@include border-radius(3px);
									@include vertical-gradient(#00817F, #006867);
									@include font-size(14);
									color: #FFF;
									display: block;
									@include transition(none);

									&:hover {
										@include vertical-gradient(#004848, #004848);
									}
								}
	 						}
	 					}
	 				}

					.menu_thumb {
						margin: 0;
						padding: 0;
						width: 100%;
						@extend .clearfix;
						list-style-type: none;

						li {
							float: left;
							width: 240px;
							margin: 0 9px 19px 10px;

							@include device-width(11) {
								width:32%;
								margin: 0 0.5% 1%; 
							}

							a {
								@extend .clearfix;
								padding: 0;
								@include border-radius(3px);
								@include vertical-gradient(#00817F, #006867);
								@include font-size(14);
								color: #FFF;
								display: block;
								@include transition(none);
								height: 67px;
								overflow: hidden;

								span {
									padding: 0.8em 1em;
									display: block;
									float: left;
									width: 89px;

									@include device-width(11) {
										width: 64px;
									}
								}

								img {
									float: right;
									max-height: 100%;
									width: auto;
								}

								&:hover {
									@include vertical-gradient(#004848, #004848);
								}									
							}
						}
					}			 		
			 	}

			 	&.education {

			 		> a {
		 				@include vertical-gradient(#00817F, #006867);
		 			}

					&:hover, &.current-page-ancestor {
						> a {
							@include vertical-gradient(#004848, #004848);
						}
		 			}


		 			> .sub-menu {
		 				border-top: 8px solid #004848;
		 				background: url(../images/backgrounds/education-drop-bg.jpg) left top repeat;
		 			}		 			

			 	}

				&.commercial {

					> a {
						@include vertical-gradient(#4A90E2, #2F77CC);						
					}

					&:hover, &.current-page-ancestor {
						> a {
							@include vertical-gradient(#00459C, #00459C);		
						}
						
					}					
					
					> .sub-menu {
						border-top: 8px solid #00459C;
						background: url(../images/backgrounds/commercial-drop-bg.jpg) left top repeat;

						.widget-nav-menu {
							ul.menu {
								a {
									@include vertical-gradient(#4A90E2, #2F77CC);							

									&:hover {
										@include vertical-gradient(#00459C, #00459C);	
									}									
								}
							}
						}

						.menu_thumb {
							a {
								@include vertical-gradient(#4A90E2, #2F77CC);	

								&:hover {
									@include vertical-gradient(#00459C, #00459C);	
								}									
							}							
						}
					}						
				} 

				&.products {
					> a {
						@include vertical-gradient(#44425A, #322F4F);	
					}

					&:hover, &.current-page-ancestor {

						> a {
							@include vertical-gradient(#292550, #292550);
						}
						
					}						

					> .sub-menu {
						border-top: 8px solid #292550;
						background: url(../images/backgrounds/products-drop-bg.jpg) left top repeat;

						.widget-product-cats-with-thumb {
							@extend .clearfix;
							width: 100%;

							ul {
								list-style-type: none;
								padding: 0;
								margin: 0;
							}


							li {
								float: left;
								width: 240px;
								margin: 0 9px 19px 10px;

								@include device-width(14) {
									width: 31%;
									margin: 1%;
								}

								@include device-width(11) {
									width: 48%;
								}

								a {
									@extend .clearfix;
									padding: 0;
									@include border-radius(3px);									
									@include vertical-gradient(#9692C5, #494989);
									@include font-size(14);
									color: #FFF;
									display: block;
									@include transition(none);
									height: 67px;
									overflow: hidden;

									@include device-width(11) {
										height: 50px;
									}

									span {
										padding: 0.8em 1em;
										display: block;
										float: left;
										width: 89px;

										@include device-width(11) {
											width: auto;
										}
									}

									img {
										float: right;
										max-height: 100%;
										width: auto;
									}

									&:hover {
										@include vertical-gradient(#292550, #292550);

									}									
								}
							}
						}
					}						
					
				} 				

			 	&:hover > a,
			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
					@include border_radius_bottom(0px);
					padding-bottom: 35px;

					@include device-width(8) {
						padding-bottom: 18px;
						@include border-radius(5px);
						margin-bottom: 0;
					}
			 	}

			 	.sub-menu {
				    position:absolute;
				    top:-99999px;
				    left:0; 
				    opacity: 0;
			        @include transition(opacity .2s ease-in-out);
				    z-index:497;
				    background:#333;
				    padding: 2px;
				    border:1px solid #444;
				    border-top:none;
				    @include box-shadow(#111 0 3px 4px);
				    border-bottom-left-radius:6px;
				    border-bottom-right-radius:6px;
				    list-style-type: none;
				    padding: 20px;
				    width: 100%;
					@include borderbox;

				    li {

				    	a {
				    		color: #FFF;	
				    	}			    	
				    }
			 	}		

			 	&:hover {
					
					> a {
						
					}

				 	.sub-menu {
						opacity: 1;
						position:absolute;
						top:89%;
						left:0;

						@include device-width(8) {
							opacity: 0;
						}
				 	}
			 	}

			 	@include device-width(8) {
			 		.sub-menu {
			 			display: none;
			 		}
			 	}			 	
			}
		} 
	}
}

/* =============================================================================
   Nav Animations
   ========================================================================== */


@include device-width(9) {

    .js-ready {

        #sidebar, #parent-title, .logo-container {
            width: $nav-off-canvas-width;
        }
    }


    .js-ready {

        #sidebar, #parent-title, .logo-container {
            left: (0 - $nav-off-canvas-width);          
        }

        #content, #page-title, .navigation-container {
            left: 0;
        }
    }

    .js-nav {

        #content, #page-title {
            left: $nav-off-canvas-width;           
        }
    }


    .csstransforms3d.csstransitions.js-ready {

        #sidebar, #parent-title, .logo-container {
            left: 0;
            @include transform(translate3d(-100%,0,0));
            @include backface-visibility(hidden);
        }

        #content , #page-title, .navigation-container {
            left: 0 !important;
            @include transform(translate3d(0,0,0));
            @include transition(transform 500ms ease);
            @include backface-visibility(hidden);
        }
    }

    .csstransforms3d.csstransitions.js-nav {

        #content, #page-title, .navigation-container {
            @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));

            @include device-width(4) {
                @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));

            }
        }
    }


    .csstransforms3d.csstransitions.js-ready {

        #sidebar, #parent-title, .logo-container {
            @include opacity(0.7);
            @include transition(opacity 300ms 100ms ease, transform 500ms ease);            
        }
    }

    .csstransforms3d.csstransitions.js-nav {

        #sidebar, #parent-title, .logo-container {
            @include opacity(1);
            @include transform(translate3d(0,0,0));
        }
    }
}


/***************************************************************************************/
/* PAGE HEADER 																		   */
/***************************************************************************************/


#page-header {	
	background: #0C305A;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&.environmental-policy {
		background: #4E8A38 url('../images/backgrounds/leaf_pattern.png');

		#parent-title, #page-title {
			background: none;
		}
	}

	.span {
		background: #0C305A;
	}

	.page-commercial &, .page-commercial & .span {
		background: #143A65;
	}

	.page-education &, .page-education & .span {
		background: #002928;	
	}

	.woocommerce-page &, .woocommerce-page & .span {
		background: #242239; 
	}


	#parent-title, #page-title {
		@include opensans-light;
		color: #FFF;
		@include font-size(35);
		padding: 55px 0 55px 50px;
		@include borderbox;

		@include device-width(12) {
			padding: 35px 0 35px 30px;
		}

		@include device-width(5) {
			padding: 20px 0 20px 15px;
		}
	}

	#parent-title {
		position: relative;

		&:after {
			content: ' ';
			position: absolute;
			right: 0px;
			top: 0;
			height: 250%;
			width: 1px;
			background: #949494;
		}

		h2 {
			opacity: 0.5;

			@include device-width(12) {
				@include font-size(25);
				line-height: 1.5;
			}		

			@include device-width(6) {
				@include font-size(20);	
				line-height: 0.9;		
				margin: 0.4em;
			}				
		}

		@include device-width(9) {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: $nav-off-canvas-width;			
		}


	}

	#page-title {
		@include device-width(9) {
			width: 100%;		
		}

		.nav-btn {
			display: none;

			@include device-width(9) {
				&#nav-open-btn {
					display: block;	
					float:left;
					margin: 0.8em 0.5em 0 0;		
					cursor: pointer;
					padding: 10px 35px 16px 0px;

					@include device-width(6) {
						margin: 0.2em 0.5em 0 0;	
					}					

					span, span:before, span:after {
					  cursor: pointer;
					  border-radius: 1px;
					  height: 5px;
					  width: 35px;
					  background: white;
					  position: absolute;
					  display: block;
					  content: '';
					  transition: all 100ms ease-in-out;
					}

					span:before {
					  top: -10px; 
					}
					
					span:after {
					  bottom: -10px;
					}

					&.active span {
					  background-color: transparent;
					}

					&.active span:before, &.active span:after {
					  top: 0;
					}

					&.active span:before {
						@include rotate(45deg);
					}

					&.active span:after {
						@include transform(translateY(-10px) rotate(-45deg));
						top: 10px;
					}									
				}			
			}
		}

		h1 {
			overflow: hidden;
			@include font-size(40);

			@include device-width(6) {
				@include font-size(20);
			}
		}		
	}
}
		

/***************************************************************************************/
/* MAIN 																			   */
/***************************************************************************************/
		
#main {
	overflow: hidden;


	#content {
		padding: 3em;
		background: #FFF;
		height: 100%;
		padding-bottom: 10em;

		@include device-width(9) {
			padding: 1em;
			width: 100%;
			@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
		}		

		@include device-width(6) {
			padding: 2em 1em 3em;
		}

		/****************************/
		/* if Flexible Content;		*/
		/****************************/		

		&.full-width {
			padding: 0 0 3em 0;

			> .span {
				padding: 0;

				> .row {
					padding: 2em;

					.row-title {
						color: #1656A1;
						width: 100%;
						@include opensans-light;
						@include font-size(25);
						text-align: center;
						margin: 0 0 1.5em 0;
					}

					h1 {
						@include font-size(32);
					}

					.span {
						padding: 0 3%;
					}

					.headerimage {
						float: right;
						margin: -70px 0;

						@include device-width(12) {
							margin: -15px 0;
						}

						@include device-width(8) {
							margin: 0;
							float: none;
						}						
					}
				}
			}
		}
	}



	#page {
		z-index: 1;
		@include flexbox;

		#content {

			.content-inner {
				float: left;
				color: #4A4A4A;


			}

			.sidebar {
				float: right;

				.widget-title {
					@include font-size(20);
				}
			}

		}
		
	}

	#single, #get-in-touch {
		@extend .clearfix;

		.sidebar {
			float:right;

			aside {
				margin: 5% 0 5% 25%;

				@include device-width(9) {
					margin: 5%;
				}
			}			

			@include device-width(6) {
				width: 100%;

				.support-box {
					display: none;
				}
			}
		}

		.content-inner {
			@include device-width(6) {
				width: 100%;
			}		

			.page-content {
				padding: 5%;
			}	
		}
	}
}

/***************************************************************************************/
/* SIDEBAR: 	 																	   */
/***************************************************************************************/

		
#sidebar {
	padding: 46px 0;
	border-right: 1px solid #D6D5CE;

	@include device-width(9) {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: $nav-off-canvas-width;
	    background: #ECECEC;
	}

	.widget-title {
		@include font-size(25);
		border-bottom: 1px solid #D6D5CE;
		line-height: 1.5;
	}	

	.widget {
		margin: 0 1.2em 2.8em;

		&.widget_auto_childs,
		&.widget_categories ul,
		&.widget_nav_menu,
		&.widget_product_categories,
		&.widget_categories {
			margin: 0 0 2.8em;

			.widget-title {
				padding-left: 10px;
			}
		}
	}

	.childpages, .widget_nav_menu ul, .widget_categories ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {

			a {
				padding: 15px 35px;
				color: #4A4A4A;
				display: block;

				&:after {
					color: #FFF;
				}
			}

			&:hover, &.current, &.current-cat {

				a {
					background: #1656A1;
					color: #FFF;

					&:after {
						@extend [class*="icon-"];
						@extend .icon-arrow-right:before;						
						@include font-size(9);	
						float: right;
						margin: 7px -15px 0 0;						
					}					
				}

				.page-education & {
					a {
						background: #004848;
					}
				}
			}			
		}
	}
}

/****************************/
/* FOOTER::;				*/
/****************************/
#newsletter {
	background: #F6F6F6;
	border-top: 6px solid #e5e5e5;
	padding: 3.5em 0 5em;

	.container {
		max-width: 40%;

		@include device-width(9) {
			max-width: 80%;
		}
	}

	.gform_wrapper {
		position: relative;

		form {
			@extend .clearfix;
			position: relative;
		}

		&:before {
			content: ' ';
			position: absolute;
			width: 172px;
			height: 166px;
			background: url('../images/icons/newsletter-signup.png') left top no-repeat;	
			display: block;
			top: 0;
			left: -22%;

			@include device-width(7) {
				left: 98%;
			} 
		}


		.validation_error {
			margin-bottom: 1em;
		}

		.gform_heading {
			padding-left: 2%;
		}

		.gform_body {
			margin: 0;
			padding: 0;
			float: left;
			width: 70%;
			@include borderbox;

			.gfield {
				margin: 0;
				padding: 0 !important;
				width: 100%;

				.gfield_label {
					margin: 0;
					padding: 0;
					display: none;
				}

				.ginput_container {
					margin: 0;
					max-width: 100%;

					input {
						@include border_radius_right(0px);
						width: 100%;
					}					
				}
			}
		}

		.gform_footer {
			margin: 0;
			padding: 0;
			float: left;
			width: 30%;
			@include borderbox;
			clear: none;


			.button {
				@include border_radius_left(0px);
				padding: 0;
				width: 100%;
				margin: 0;
			}

		}
	}
}

#footer {
	background: #0A2D57;
	color: #FFF;
	position: relative;
	z-index: 1;

	.container {
		padding: 3em 0;
	}

	.span {
		padding-left: 20px;
		padding-right: 20px;
		word-wrap: break-word;
	}	

	@include device-width(7) {		
		.span.two {
			width: 50%;
		}

		.span.six {
			margin-top: 20px;
			width: 100%;	
		}
	}

	.widget {


		.widget-title {
			@include opensans-light;
			@include font-size(20);
			color: #FFF;
			margin-bottom: 15px;

			@include device-width(4) {
				@include font-size(16);
			}
		}

		.textwidget {
			@include opensans;
			@include font-size(13);
			line-height: 18px;

			a {
				color: #4A90E2;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.widget_nav_menu {

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {

				a {
					color: #FFF;
					@include opensans-light;
					@include font-size(20);
					line-height: 1.8em;

					@include device-width(9) {
						@include font-size(14);
					}

					@include device-width(7) {
						@include font-size(20);
					}	

					@include device-width(7) {
						@include font-size(18);
					}									

					&:after {
						@extend [class*="icon-"];
						@extend .icon-arrow-right:before;
						color: #4A90E2;
						@include font-size(9);
						margin-left: 10px;
						@include transition(all 0.3s ease);
					}

					&:hover {
						color: #4A90E2;

						&:after {
							margin-left: 20px;
						}
					}

				}
			}
			
		}
	}	

}

/****************************/
/* BOTTOM FOLLOW BAR		*/
/****************************/	
#follow {
	background: #0A2D57;
	color: #FFF;
	padding: 2em 1em 1.7em;
	border-top: 1px solid #979797;

	.title {
		@include opensans-light;
		@include font-size(20);
		margin-right: 2.5em;

		@include device-width(6) {
			display: block;
		}
	}

	a {
		color: #FFF;
		@extend [class*="icon-"];
		margin-right: 2.5em;
		@include inline-block;

		@include device-width(6) {
			margin-top: 1em;
		}

		@include device-width(5) {
			width: 40%;
			margin-right: 0;
			float: left;
			padding-left: 10%;		
		}

		&:hover {
			color: #4A90E2;
		}

		&:before {
			@include font-size(20);
			margin-right: 5px;
		}

		&.facebook {
			&:before {
				@extend .icon-facebook:before;
			}
		}

		&.twitter {
			&:before {
				@extend .icon-twitter:before;
			}
		}

		&.linkedin {
			&:before {
				@extend .icon-linkedin:before;
			}
		}

		&.youtube {
			&:before {
				@extend .icon-youtube:before;
			}
		}						
	}
}

.credits {
	background: #011630;
	padding: 20px 0;
	color: #FFF;
	@include opensans-light;

	a {
		color: #FFF;
		@include opensans;

		&:hover {
			text-decoration: underline;
		}		
	}

	.copyright {
		float: left;
		margin-right: 2.8em;
	}

	.menu {
		float:left;
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			float: left;
			margin-right: 1.5em;
		}
	}

	.siteby {
		text-align: right;

		@include device-width(7) {
			width: 100%;
		}
	}
}

/* =============================================================================
   Pages
   ========================================================================== */


/****************************/
/* Front-Page;				*/
/****************************/	

#front-page {

	#content {
		padding: 3em 0;

		.page-content {
			@extend .clearfix;

			.break-on-mobile {
				@include device-width(7) {
					width: 100% !important;
					margin-left: 0;
					margin-right: 0;
				}
			}

			.hide-on-mobile {
				@include device-width(7) {
					display: none !important;
				}
			}			

			.seven {
				background: #042143;
				color: #FFF;
				@include border-radius(10px);
				padding: 15px 29px;

				a {
					color: #FFF;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			a.live-chat {
				display: none;
			}
		}


		section {
			float: left;
			width: 100%;
			margin: 6% 0;

			@include device-width(5) {
				padding: 4% 0;
			}

			.section-inner {
				float: left;
				width: 100%;
				padding: 0 2%;
				@include borderbox;
				margin: -40px 0;
				position: relative;	

				@include device-width(8) {
					margin: -20px 0;
				}		

				@include device-width(5) {
					margin: 0px;
				}						

				.section-title {
					color: #FFF;
					@include opensans-light;
					@include font-size(40);
					position: absolute;
					top: 10%;
					left: 2%;
					width: 35%;	

					@include device-width(8) {
						@include font-size(28);
						position: static;
						width: 100%;
						padding: 4%;
					} 			
				}
			}
			.span {
				position: relative;

				a {
					position: absolute;
					width: 96%;
					@include border-radius(10px);
					overflow: hidden;	
					height: 96%;
					margin: 2%;
					background-size: contain;
					background-repeat: no-repeat;
					@include borderbox;
					padding: 10px;			
					left: 0;						
				}

				&.two {
					padding-bottom: 20%;

					a {
						margin: 4%;
					}
				}

				&.four {
					padding-bottom: 40%;
				}

				&.half {
					padding-bottom: 20%;
					
					 a {
						height: 96%;
					}						
				}					

				&.half.valign-bottom {
					padding-bottom: 40%;

					a {
						height: 48%;
						top: 48%;
					}					
				}

				@include device-width(8) {
					width: 50%;
					margin: 0 !important;
					padding-bottom: 40% !important;

					a {
						margin: 2% !important;
					}

					&.half.valign-bottom {
						a {
							top: 0%;
							height: 96%;
						}
					}
				}

				@include device-width(5) {
					width: 100%;
					margin: 0 !important;
					padding-bottom: 80% !important;
				}					

				.title {
					color: #FFF;
					position: absolute;	
					@include opensans-light;	
					@include borderbox;
					padding: 4%;	

					h1 {
						@include font-size(24);	
						line-height: 1.3;

						@include device-width(11) {
							font-size: 2rem !important;								
						}

						@include device-width(4) {
							font-size: 1.5rem !important;								
						}						
					}

					p {
						@include font-size(14);	
					}

				}

				.left {
					.title {
						left: 0;
						width: 50%;
						height: 100%;
						float: none;
						height: 100%;						
					}					
				}

				.right {
					@include device-width(8) {
						background-size: auto 100%;
						background-position: center center;
					}					

					.title {
						right: 0;
						top: 0;
						width: 50%;
						height: 100;
						float: none;
						height: 100%;						
					}	
				}

				.top {
					.title {
						top: 0;
						width: 100%;
						left: 0;
					}		
				}

				.bottom {
					@include device-width(8) {
						background-size: 100% auto;
						background-position: top center;
					}

					.title {
						bottom: 0;
						width: 100%;
						left: 0;
					}					
				}

				.full {
					.title {
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}									
				}
			}
		}

		section.offers {
			margin: 4% 0;

			.section-inner {
				margin: 0;
			}

			.title {
				width: 50%;
				margin-bottom: 4em;

				@include device-width(8) {
					width:96%;
					margin-left: 2%;
					margin-right: 2%;
				}

				h1 {
					@include font-size(48);
				}
			}

			.span {

				@include device-width(8) {
					width: 50%;
					padding-bottom: 33% !important;
				}	

				@include device-width(5) {
					padding-bottom: 50% !important;
				}					

				@include device-width(4) {
					width: 100%;
					padding-bottom: 60% !important;
				}				

				&.third {
					padding-bottom: 20.7%;
					

					&.large {
						padding-bottom: 42%;
					}
				}

				a {
					@include border-radius(0);
					padding: 0;
					
					@include device-width(5) {
						background-size: auto 103%;
						background-position: center center;
					}

					.offer-title {
						width: auto;
						margin: 0;
						padding: 20px;
						@include font-size(22);
						@include inline-block;
						color: #FFF;
						@include transition(all 0.3s ease);

						@include device-width(4) {
							@include font-size(15);
							width: 89%;
						}						

						p {
							margin: 0;
							@include font-size(22);
						}
					}

					&:hover .offer-title {
						background: #00459C;
					}
				}
			}
		}
	}
}


/****************************/
/* About Us Infographics	*/
/****************************/	

#about-us {

	.row {
		padding: 3.5em;

		@include device-width(5) {
			padding: 1.5em 0.5em;
		}

		>.span {
			margin-bottom: 1.5em;

			@include device-width(7) {
				width: 100%;
			}

			.top, .bottom {
				@include borderbox;
				padding: 25px;
			}

			.top {
				@include border_radius_top(12px);

				h1 {
					@include opensans-light;
					@include font-size(25);
				}

				p {
					line-height: 2;
				}
			}

			.bottom {
				@include border_radius_bottom(12px);
			}


			&.bespoke {
				color: #FFF;

				.top {
					@extend .clearfix;
					background: #113453;
					.desc {
						&:before {
							@extend [class*="icon-"];
							@extend .icon-ncslogo:before;
							width: 100%;
							text-align: center;
							display: block;
							@include font-size(30);
						}					
					}
				}

				.bottom {
					@extend .clearfix;
					background: #1B4264;
					padding: 0 0 0 0;

					h2 {
						@include opensans-light;
						@include font-size(20);
						color: #e8ecef;
						display: block;
						width: 100%;
						text-align: center;
						border-bottom: 1px solid #3091CE;
						line-height: 3;
						margin: 0;
					}

					>.span {
						padding: 0;

						&:last-child {
							border-left: 1px solid #3091CE;
						}
					}

					.cabling {
						background-image: url('../images/backgrounds/cable_roll.png');
						background-size: 90% auto;
						background-position: center center;
						background-repeat: no-repeat;
					 	text-align: center;
					 	@include opensans-bold;
					 	@include font-size(15);
					 	padding: 6em 1em 6em 0;

						 span {
						 	display: block;
						 	@include oswald;
						 	@include font-size(30);

						 	@include device-width(13) {
								@include font-size(25);						 		
						 	}

						 	@include device-width(12) {
								@include font-size(20);						 		
						 	}	

						 	@include device-width(10) {
								@include font-size(15);						 		
						 	}						 						 	
						 }					 	

					}

					.screens {
						background-image: url('../images/backgrounds/interactive_board.png');
						background-size: 50% auto;
						background-position: 13% center;
						background-repeat: no-repeat;
					 	padding: 1.5em 0;
					 	margin: 9% 0;	
					 	@include opensans-bold;
					 	@include font-size(14);	
					 	@extend .clearfix;

					 	.six {
					 		text-align: center;
					 	}				

					 	span {
						 	display: block;
						 	@include oswald;
						 	@include font-size(25);
							line-height: 2;	
							padding-left: 20%;		

						 	@include device-width(12) {
								@include font-size(20);						 		
						 	}	

						 	@include device-width(10) {
								@include font-size(15);						 		
						 	}						 										 	
						 }					 	
					}

					.lighting {
						background-image: url('../images/backgrounds/lighting.png');
						background-size: auto 70%;
						background-position: 90% center;
						background-repeat: no-repeat;
						border-top: 1px solid #3091CE;						
					 	@include opensans-bold;
					 	@include font-size(14);	
					 	padding: 2em;				

						span {
						 	display: block;
						 	@include oswald;
						 	@include font-size(25);	

						 	@include device-width(12) {
								@include font-size(20);						 		
						 	}	

						 	@include device-width(10) {
								@include font-size(15);						 		
						 	}						 						 							
						}					

					}
				}
			}

			&.quality {

				.top {
					@extend .clearfix;
					background: #EBEBEB;

					.desc {
						&:before {
							@extend [class*="icon-"];
							@extend .icon-wrench:before;
							width: 100%;
							text-align: center;
							display: block;
							@include font-size(25);
							color: #717171;
						}	

						h1 {
							color: #1656A1;					
						}
						
					}
				}

				.bottom {
					background: #F3F3F3;
					text-align: center;
					@extend .clearfix;
					h4 {
						@include font-size(14);
						@include opensans-bold;
						display: block;
						width: 100%;
						margin-bottom: 2em;
					}

					>.span {
						@include font-size(12);
						
						.num {
							@include font-size(40);
							@include oswald;
						}

					}
				}				
			}

			&.support {

				.top {
					@extend .clearfix;
					background: #EBEBEB;

					.desc {
						&:before {
							@extend [class*="icon-"];
							@extend .icon-chat:before;
							width: 100%;
							text-align: center;
							display: block;
							@include font-size(25);
							color: #717171;
						}	

						h1 {
							color: #1656A1;					
						}
						
					}
				}

				.bottom {
					background: #F3F3F3;
					@extend .clearfix;

				 	.left {
				 		text-align: right;
			 			@include font-size(25);
			 			color: #3091CE;		
			 			@include opensans-bold;		 		

				 		img {
				 			float:right;
				 			margin-left: 10%;
				 		}

				 		span {
				 			@include oswald;
				 			@include font-size(60);
				 			color: #3091CE;
				 		}
				 	}

				 	.right {
				 		.num {
				 			@include oswald;
				 			margin: 0 0.5em;
				 			@include font-size(15);
				 		}
				 	}
				}				
			}

			&.environment {

				.top {
					color: #FFF;
					@extend .clearfix;
					background: #5B8629;

					.desc {
						&:before {
							@extend [class*="icon-"];
							@extend .icon-leaf:before;
							width: 100%;
							text-align: center;
							display: block;
							@include font-size(25);
						}							

						a {
							color: #FFF !important;
						}
					}
				}

				.bottom {
					background: #3C6111;
					@extend .clearfix;
					text-align: center;
					color: #FFF;
					@include opensans-bold;
					@include font-size(14);

					.span {
						padding: 0 2em;
					}

					.image {
						span {
							@include vertical-align;
							position: absolute;
							width: 100%;
							text-align: center;
							left: 0;
							color: #D0021B;
							@include font-size(45);
							top: 37%;				
						}
					}
				}	
			}					
		}

		&.this-week {
			background: #FBFBFB;
			border-top: 1px solid #DCDCDC;
			border-bottom: 1px solid #DCDCDC;

			h2 {
				margin: 0 0 1.5em 0;
				display:block;
				width: 100%;
				text-align: center;
				color: #1656A1;
				@include font-size(25);
			}

			.span {
				text-align: center;
				@include opensans-bold;
				@include font-size(14);				

				.image {
					img {
						margin: 0 auto;
					}

					span {
						@include oswald;
						@include vertical-align;
						position: absolute;
						width: 100%;
						text-align: center;
						left: 0;
						color: #D0021B;
						@include font-size(35);
						top: 41%;						
					}
				}

				&.support, &.tea{
					span {
						color: #FFF;
					}
				}

				&.cabling {
					span {
						color: #1656A1;
					}
				}
			}
		}	
	}
}

#meet-the-team {
	@extend .clearfix;

	.section-title {
		display: block;
		width: 100%;
		text-align: center;
		color: #1656A1;
		@include font-size(25);
		margin: 2em 0;
	}

	.row {
		@extend .clearfix;
		padding: 3em;

		&:nth-child(odd) {
			background: #EBEBEB;
		}

		&:nth-child(even) {
			background: #F3F3F3;
		}

		.span {
			padding: 0 2em;

			@include device-width(5) {
				padding: 0;				
			}
		}

		img {
			@include borderbox;
			padding: 5px;
			border: 1px solid #ccc;
			@include box-shadow(0 0  10px #ccc);
		}

		h1 {
			@include font-size(30);
		}
	}
}

#quotes {
	padding: 3em 2em;

	h1 {
		@include font-size(30);
	}

	.testimonial {
		margin-top: 3em;
		padding-right: 3em;

		&:nth-child(3n+1) {
			color: #5E9129;
		}

		&:nth-child(3n+2) {
			color: #4A90E2;
		}	

		&:nth-child(3n+3) {
			color: #00817F;
		}					

		.quote {
			@include opensans-light;
			@include font-size(20);
			margin-bottom: 1em;

			@include device-width(4) {
				@include font-size(15);
			}

			&:before {
				@extend [class*="icon-"];
				@extend .icon-quote:before;
				display: block;
				width: 100%;
				@include font-size(30);
				margin-bottom: 0.3em;
			}
		}

		.meta {
			color: #4A4A4A;
			@include font-size(14);			

			.author {
				@include opensans-bold;
				width: 100%;
				display: block;						

			}

			.position {
				@include opensans-light;
			}
		}

	}
}

/****************************/
/* Environmental Policy		*/
/****************************/

#environmental-policy {
	padding: 3em;
	@extend .clearfix;

	@include device-width(5) {
		padding: 1em;
	}

	background: url('../images/backgrounds/leaf_pattern.png');


	h1.title {
		@include opensans-light;
		@include font-size(30);
		color: #1656A1;
	}

	.span {
		margin-bottom: 4em;

		@include device-width(7) {
			width: 100%;
		}		

		.image {
			img {
				display: block;
			}
		}

		&.image-left {
			.image {
				width: 40%;
				float: left;
			}

			.body {
				width: 60%;
				float: right;
				@include borderbox;
			}

		}

		&.image-right {

			.image {
				width: 40%;
				float: right;
				display: block;
			}

			.body {
				width: 60%;
				float: left;
			}			
		}

		&.image-left, &.image-right {

			.image, .body {

				@include device-width(7) {
					width: 100%;
				}
			}
		}		

		.body {
			background: #E8E8E8;

			.copy {
				padding: 4em 2em 2em;
				@extend .clearfix;
				position: relative;

				h1 {
					@include vertical-gradient(#6A973C, #86B555);
					color: #FFF;
					@include font-size(21);
					position: absolute;
					top: 0;
					left: 0;
					padding: 0.5em 1.5em;
					margin: 0;
				}


				.author-image {
					@include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
					@include border-radius(50%);
					border: 4px solid #FFFFFF;	
					float: left;				
				}	

				.meta {
					color: #4A4A4A;
					@include font-size(14);	
					margin: 7.5em 0 0 13em;						

					.author {
						@include opensans-bold;
						width: 100%;
						display: block;						

					}

					.position {
						@include opensans-light;
					}
				}				
			}
		}
	}
}

/****************************/
/* Testimonials				*/
/****************************/	

#testimonials {

	.content-inner {

		.span {

			@include device-width(8) {
				width: 100%;
			}

			&.imageless {
				float: left;
			}

			&.image {
				float: right;
			}
		}

		.testimonial {
			margin-bottom: 4em;
			padding-right: 3em;

			&:nth-child(3n+1) {
				color: #5E9129;
			}

			&:nth-child(3n+2) {
				color: #4A90E2;
			}	

			&:nth-child(3n+3) {
				color: #00817F;
			}					

			.quote {
				@include opensans-light;
				@include font-size(20);
				margin-bottom: 1em;

				@include device-width(4) {
					@include font-size(15);
				}

				&:before {
					@extend [class*="icon-"];
					@extend .icon-quote:before;
					display: block;
					width: 100%;
					@include font-size(30);
					margin-bottom: 0.3em;
				}
			}

			.meta {
				color: #4A4A4A;
				@include font-size(14);			

				.author {
					@include opensans-bold;
					width: 100%;
					display: block;						

				}

				.position {
					@include opensans-light;
				}
			}

			&.box {
				color: #FFF;
				padding-right: 0;

				.image {

					img {
						display: block;	
						width: 100%;
						height: auto;
					}
					
				}

				.copy {
					position: relative;
					padding: 2em;
				}

				&:nth-child(odd) {
					.copy {
						@include vertical-gradient(#5B8E26, #86B555);
					}
				}

				&:nth-child(even) {

					.copy {
						@include vertical-gradient(#006867, #00817F);
					}
				}	

				.author-image {
					position: absolute;
					right: 5%;
					top: -54px;
					@include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
					@include border-radius(50%);
					border: 4px solid #FFFFFF;
				}

				.meta {
					color: #FFF;
				}
			}
		}
	}
}

/****************************/
/* Case Studies;			*/
/****************************/	

#case-studies {
	
	.span {
		// &:nth-child(6n+3), &:nth-child(6n+4) {
		// 	width: 50%;
		// }

		// &:nth-child(6n+4) {
		// 	clear: left;
		// }
	}

	.study {
		overflow: hidden;
		margin-bottom: 1.5em;

		&.span {
			@include device-width(8) {
				width: 50%;
			}
		}

		h2 {
			@include word-break;
		}

		a {
			height: 100%;
			display: block;
			@include border_radius(10px);
			@include vertical-gradient(#032E61, #1656A1);

			&:hover {
				@include vertical-gradient(#1656A1, #032E61);	
			}

			.page-education & {
				@include vertical-gradient(#017C7A, #009795);

				&:hover {
					@include vertical-gradient(#009795, #017C7A);	
				}
			}

			& .related & {
				@include vertical-gradient(#000, #fff);

				&:hover {
					@include vertical-gradient(#009795, #017C7A);	
				}
			}		
		}

		&:nth-child(6n+2), &:nth-child(6n+6) {
			a {
				@include vertical-gradient(#02499E, #1F79E2);	

				&:hover {
					@include vertical-gradient(#1F79E2, #02499E);	
				}

				.page-education & {
					@include vertical-gradient(#6A973C, #86B555);

					&:hover {
						@include vertical-gradient(#86B555, #6A973C);	
					}					
				}
			}
		}

		img {
			display: block;
			@include border_radius_top(10px);

			@include device-width(8) {
				width: 100%;
			}
		}

		.title {			
			padding: 2.8em 1.7em 5.5em;
			@include opensans-light;			
			
			.entry-title {
				margin: 0;
				color: #FFF;
				@include font-size(22);
				line-height: 1.2;

				@include device-width(10) {
					@include font-size(18);
				}				

				@include device-width(8) {
					@include font-size(16);
				}				
			}		
		}

		.readmore {
			position: absolute;
			bottom: 15px;
			color: #FFF;
			left: 33px;
			@include opensans-bold;
			@include font-size(16);
		}
	}

	&.related {

		padding: 3em;

		.study:nth-child(even) {
			a {
				@include vertical-gradient(#6A973C, #86B555);

				&:hover {
					@include vertical-gradient(#86B555, #6A973C);	
				}					
			}
		}
	}	
}

.case-studies-title {
	width: 100%;
	display: block;
	text-align: center;
	@include font-size(30);
	@include opensans-light;
	color: #1656A1;
	margin: 2em 0;
}

/****************************/
/* Single Case Study: ;		*/
/****************************/

.single-case-study {

	.span.content-inner {
		padding-right: 0;
	}

	.span.sidebar {
		padding-left: 0;
	}


	.case-study-header {
		@extend .clearfix;
		@include vertical-gradient(#009795, #017C7A);
		color: #FFF;
		@include borderbox;

		.span {
			padding: 0;
		}

		.page-commercial & {
			@include vertical-gradient(#02499E, #1F79E2);	
		}

		.date {
			@include font-size(14);
			width: 100%;
			display: block;
		}

		h1 {
			@include font-size(30);
			@include opensans-light;
			line-height: 1.2;
		}

		.sharethis {
			position: absolute;
			bottom: 0;
		}

		.title {

			.inner {
				margin: 30px 30px 80px;	
			}
			
		}

		.thumbnail {
			min-height: 280px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
	}

}

/****************************/
/* Expertise: 				*/
/****************************/	

#expertise {
	@include font-size(30);

	.section-title {
		width: 100%;
		text-align: center;
		color: #1656A1;
		@include font-size(30);
		margin: 3em 0 1.5em;
	}

	.row {
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: right center;
		overflow: hidden;
		@extend .clearfix;

		@include device-width(7) {
			padding-bottom: 50%;
			background-size: contain;
			background-position: left bottom;

			&.no-image {
				padding-bottom: 0%;
			}
		}		

		&.right {
			background-position: left center;

			@include device-width(7) {
				background-size: contain;
				background-position: left bottom;
			}

			.span {
				float: right;
			}
		}

		.span {
			padding: 3em 2em;

			@include device-width(7) {
				padding: 1em;
				width: 100%;
			}

			&.ten {
				padding: 1em 2em;

				@include device-width(7) {
					padding: 1em;
				}
			}
		}
	}
}



/****************************/
/* Error / 404				*/
/****************************/	

#error {
    background-size: 100% auto;

    #content {
    	border: none;
    	@extend .container;
    }
	
	h1 {
	    color: #0E76BC;
	    font-size: 10em;
	}
	
	h2 {
	    color: #437496;
		font-size: 2em;
    	margin: 0 0 0 8em;

    	@include device-width(7) {
    		margin: 0 0 0 3em;
    	}

    	@include device-width(5) {
    		margin: 0 0 0 0;
    	}

	}

	p {
		@include opensans-light;
	    color: #072C44;
	    font-size: 1.4em;
	    margin-top: 10%;
	}
	
	span {
	    color: #B7DEE7;
	    float: right;
	    font-size: 7em;
	}
}

/****************************/
/* Press:;					*/
/****************************/	

#press {

	.page-content {
		padding-bottom: 4em;

	}

	article.press {
		@extend .clearfix;
		padding: 2.5em 0;
		width: 100%;
		border-bottom: 1px solid #D6D5CE;

		&:last-child {
			border-bottom: none;
		}

		.title {
			@include font-size(22);
			line-height: 1.3;
		}

		.image, .content {
			@include device-width(8) {
				width: 100%;
			}
		}
	}
}


#front-page {
	#content {
		border: none;
		@include borderbox;
	}
}

#news {

	.post {
		overflow: hidden;
		margin-bottom: 1.5em;

		&.span {
			@include device-width(8) {
				width: 50%;
			}
		}

		a {
			height: 100%;
			display: block;
			@include border_radius(10px);
			@include vertical-gradient(#00817F, #006867);	
		}

		img {
			display: block;
			@include border_radius_top(10px);

			@include device-width(8) {
				width: 100%;
			}
		}

		.title {			
			padding: 2.8em 1.7em;
			@include opensans-light;			
			
			.entry-title {
				margin: 0;
				color: #FFF;
				@include font-size(28);
				line-height: 1.2;

				@include device-width(10) {
					@include font-size(24);
				}				

				@include device-width(8) {
					@include font-size(20);
				}				
			}		
		}
	}
}

#quotelist {
	padding: 3em;


}

#wp-live-chat {
	left: -9000px;
}