$nav-off-canvas-width: 70%;

html {
	font-size: 62.5%;
}

body {
	color: #333333;
	@include font-size(13);
	line-height: 1.5;
	min-width: 250px;
	background: #FFF;
	@include opensans;
	 -webkit-font-smoothing: antialiased !important;
}

#wrap {
	max-width: 100%;
	overflow: hidden;
}

#header {

	.logo-container {
		width:20%;
		float: left;

		img {
			margin: 1.1em 0;
		}

		@include device-width(9) {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: $nav-off-canvas-width;
		    text-align: center;
		}		
	}

	.navigation-container {
		width: 79%;
		float: right;
		background: #FFF;

		@include device-width(9) {
			width: 100%;
		}

		.information {
			@extend .clearfix;
			border-bottom: 1px solid #EBEBEB;
			padding-bottom: 0.9em;

			@include device-width(6) {
				display: none;
			}

			p {
				float: left;
				@include font-size(14);
				color: #44425A;
				margin: 0;

				span {
					color: #3178CC;
					@include opensans-light;
					@include font-size(28);
				}

				@include device-width(12) {
					@include font-size(10);
					margin-top: 0.5em;

					span {
						@include font-size(21);
					}
				}

				@include device-width(10) {
					@include font-size(14);
					margin-top: 1em;

					span {
						@include font-size(28);
					}
				}

				@include device-width(7) {

					span {
						@include font-size(20);
					}
				}				
			}

			.buttons {
				float: right;
				margin-top:9px;

				a {
					@include opensans;
					color: #FFF;
					@include font-size(15);
					padding: 11px 50px;
					@include border_radius_bottom(5px);
					margin-left: 11px;

					&:before {
						@extend [class*="icon-"];
					}

					&.get-in-touch {
						background: #8EC555;
						@include vertical-gradient(#8EC555, #78AF3F);
						&:before {
							@extend .icon-bubble:before;
						}

						&:hover {
							@include vertical-gradient(#78AF3F, #8EC555);
						}						
					}

					&.live-chat {
						@include vertical-gradient(#EC9D0A, #EE8803);
						&:before {
							@extend .icon-chat:before;
						}

						&:hover {
							@include vertical-gradient(#EE8803, #EC9D0A);
						}
					}					
				}
			}
		}
	}


/***************************************************************************************/
/* TOP NAVIGATION 																	   */
/***************************************************************************************/
	.top-navigation {
		@extend .clearfix;
		position: relative;
		padding: 13px 0;

		>ul {
			float: left;
			list-style-type: none;
			padding: 0;
			margin: 0;


			>li {
				float: left;
				@include transition(all 0.3s ease);
				zoom: 0;

			 	> a {
			 		display: inline-block;
					padding: 0 0;
			 		@include font-size(18);
				 	position: relative;
			 		line-height: 1;
			 		margin-right: 5px;
			 		color: #4A4A4A;
			 		padding: 15px 17px;
			 		@include border-radius(3px);
			 	}

			 	&:hover > a {
			 		color: #FFF !important;
			 		background: #4E4E4E !important;
			 	}			 	

			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #4A4A4A;
			 		background: #EAEAEA;
			 	}

			 	.sub-menu {
				    position:absolute;
				    top:-99999px;
				    left:0; 
				    opacity: 0;
			        @include transition(opacity .3s ease-in-out);
				    z-index:497;
				    background:#FFF;
				    padding: 2px;
				    border:1px solid #C1C1C1;
				    border-top: 8px solid #4E4E4E;
				    @include box-shadow(#363636 0 3px 4px);
				    @include border-radius(6px);
				    list-style-type: none;
				    padding: 20px;

				    li {
				    	display: block;
		 				margin: 5px 0;

				    	a {
				    		display: block;
				    		@include font-size(16);
				    		color: #4A90E2;

				    		&:hover {
				    			color: #4E4E4E;#
				    			text-decoration: underline;
				    		}
				    	}
				    }
			 	}		

			 	&:hover {
				 	.sub-menu {
						opacity: 1;
						position:absolute;
						top:76%;
						left:0;

					 	@include device-width(7) {
					 		opacity: 0;
						    top:-99999px;
						    left:0;	
						    display: none;				 		
					 	}
				 	}
			 	}

			 	@include device-width(8) {
			 		.sub-menu {
			 			display: none;
			 		}
			 	}				 	

			 	&.about {
			 		ul {
			 			width: 50%;

			 			li {
			 				width: 49%;
			 				float: left;
			 			}
			 		}
			 	}				

			 	&.news {
			 		ul {
			 			width: 100%;
			 			@include borderbox;

			 			> div.nav {
			 				width: 30%;
			 				float: left;
			 			}

			 			.carousel {
			 				width: 70%;
			 				float: right;

			 				.nav {
			 					display: none;
			 				}

			 				.ce-inner {
			 					padding: 0 20px;

			 					a {
			 						line-height: 1.2;
			 					}
			 				}

			 				.carousel-container {
			 					padding: 0;
			 					border-left: 1px solid #C0C0C0;
			 				}
			 			}
			 		}
			 	}	
			}
		}

		#searchform {
			float: left;
			margin-left: 20px;
			padding-top: 2px;

			&:before {
				@extend [class*="icon-"];
				@extend .icon-search:before;
				color: #3178CC;
			}

			#s {
				border: none;
				@include font-size(18);
				color: #4A4A4A;
				padding-left: 2px;
				width: 200px;

				@include device-width(6) {
					width: 160px;
				}
			}

			#searchsubmit {
				display: none;
			}
		}			

		.woo-nav {
			float: right;
			padding: 0.9em 0;

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}

			li {
				@extend [class*="icon-"];
				float: left;
				margin-left: 35px;
				line-height: 22px;

				a:before {
					color: #3178CC;
					@include transition(all 0.3s ease);
					margin-right: 0.5em;
					float: left;
				}

				&:hover {
					a:before, a {
						color: #9BCC6B;
					}
				}

				&.logout a:before {
					@extend .icon-logout:before;
				}

				&.account a:before {
					@extend .icon-profile:before;
				}

				&.login a:before {
					@extend .icon-login:before;
				}

				&.cart a:before {
					@extend .icon-basket:before;
				}				

				a {
					@include font-size(16);
					@include inline-block;

					@include device-width(5) {
						span {
							display: none;
						}
					}
				}

			}


		}

	}



	.mobile-navigation-btn {
		position: absolute;
		right: 3.3em;
		top: 3.5em;

		@include device-width(13) {
			display: inline-block;
		}
	}
	

/***************************************************************************************/
/* MAIN NAVIGATION 																	   */
/***************************************************************************************/

	.main-navigation {
		@extend .clearfix;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			
			> li {
				float: left;
				width: 32.666666%;
				margin-right: 1%;
				@include transition(none);
				zoom: 0;
				margin-bottom:25px;

				&:hover {
					margin-bottom:0;
				}

				&.last {
					margin-right: 0;
				}

			 	> a {
					padding: 0 0;
			 		@include font-size(18);
			 		color: #FFF;
				 	position: relative;
			 		line-height: 1;
			 		display: block;
			 		text-align: center;
			 		padding: 1em 0;
			 		@include border-radius(5px);
					@include transition(none);

					@include device-width(8) {
						margin-bottom: 7px;
					}					

					@include device-width(5) {
						@include font-size(16);
					}
			 	}

			 	> ul {
	 				list-style-type: none;

					.widget-nav-menu {
	 					width: 100%;
	 					@extend .clearfix;

	 					ul.menu {
	 						padding: 0;
	 						margin:0;

	 						li {
	 							float: left;
	 							width: 32%;
	 							list-style: none;
	 							@include borderbox;
	 							margin: 0.5%;
								

								a {
									padding: 1.5em;
									@include border-radius(3px);
									@include vertical-gradient(#00817F, #006867);
									@include font-size(14);
									color: #FFF;
									display: block;
									@include transition(none);

									&:hover {
										background: #004848;

									}
								}
	 						}
	 					}
	 				}

					.menu_thumb {
						margin: 0;
						padding: 0;
						width: 100%;
						@extend .clearfix;
						list-style-type: none;

						li {
							float: left;
							width: 240px;
							margin: 0 9px 19px 10px;

							a {
								@extend .clearfix;
								padding: 0;
								@include border-radius(3px);
								@include vertical-gradient(#00817F, #006867);
								@include font-size(14);
								color: #FFF;
								display: block;
								@include transition(none);
								height: 67px;
								overflow: hidden;

								span {
									padding: 0.8em 1em;
									display: block;
									float: left;
									width: 89px;
								}

								img {
									float: right;
									max-height: 100%;
									width: auto;
								}

								&:hover {
									background: #004848;

								}									
							}
						}
					}			 		
			 	}

			 	&.education {

			 		> a {
		 				@include vertical-gradient(#00817F, #006867);
		 			}

					&:hover, &.current-page-ancestor {
						> a {
							background: #004848;
						}
		 			}


		 			> .sub-menu {
		 				border-top: 8px solid #004848;
		 				background: url(../images/backgrounds/education-drop-bg.jpg) left top repeat;
		 			}		 			

			 	}

				&.commercial {

					> a {
						@include vertical-gradient(#4A90E2, #2F77CC);						
					}

					&:hover, &.current-page-ancestor {
						> a {
							background: #00459C;
						}
						
					}					
					
					> .sub-menu {
						border-top: 8px solid #00459C;
						background: url(../images/backgrounds/commercial-drop-bg.jpg) left top repeat;

						.widget-nav-menu {
							ul.menu {
								a {
									@include vertical-gradient(#4A90E2, #2F77CC);							

									&:hover {
										background: #00459C;
									}									
								}
							}
						}

						.menu_thumb {
							a {
								@include vertical-gradient(#4A90E2, #2F77CC);	

								&:hover {
									background: #00459C;
								}									
							}							
						}
					}						
				} 

				&.products {
					> a {
						@include vertical-gradient(#44425A, #322F4F);	
					}

					&:hover, &.current-page-ancestor {

						a {
							background: #292550;	
						}
						
					}						

					> .sub-menu {
						border-top: 8px solid #292550;
						background: url(../images/backgrounds/products-drop-bg.jpg) left top repeat;

						.widget-product-cats-with-thumb {
							@extend .clearfix;
							width: 100%;

							ul {
								list-style-type: none;
								padding: 0;
								margin: 0;
							}


							li {
								float: left;
								width: 240px;
								margin: 0 9px 19px 10px;

								@include device-width(14) {
									width: 31%;
									margin: 1%;
								}

								@include device-width(11) {
									width: 48%;
								}

								a {
									@extend .clearfix;
									padding: 0;
									@include border-radius(3px);									
									@include vertical-gradient(#9692C5, #494989);
									@include font-size(14);
									color: #FFF;
									display: block;
									@include transition(none);
									height: 67px;
									overflow: hidden;

									span {
										padding: 0.8em 1em;
										display: block;
										float: left;
										width: 89px;
									}

									img {
										float: right;
										max-height: 100%;
										width: auto;
									}

									&:hover {
										background: #292550;

									}									
								}
							}
						}
					}						
					
				} 				

			 	&:hover > a,
			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
					@include border_radius_bottom(0px);
					padding-bottom: 35px;

					@include device-width(8) {
						padding-bottom: 18px;
						@include border-radius(5px);
						margin-bottom: 0;
					}
			 	}

			 	.sub-menu {
				    position:absolute;
				    top:-99999px;
				    left:0; 
				    opacity: 0;
			        @include transition(opacity .2s ease-in-out);
				    z-index:497;
				    background:#333;
				    padding: 2px;
				    border:1px solid #444;
				    border-top:none;
				    @include box-shadow(#111 0 3px 4px);
				    border-bottom-left-radius:6px;
				    border-bottom-right-radius:6px;
				    list-style-type: none;
				    padding: 20px;
				    width: 100%;
					@include borderbox;

				    li {

				    	a {
				    		color: #FFF;	
				    	}			    	
				    }
			 	}		

			 	&:hover {
					
					> a {
						
					}

				 	.sub-menu {
						opacity: 1;
						position:absolute;
						top:89%;
						left:0;

						@include device-width(8) {
							opacity: 0;
						}
				 	}
			 	}

			 	@include device-width(8) {
			 		.sub-menu {
			 			display: none;
			 		}
			 	}			 	
			}
		} 
	}
}

/* =============================================================================
   Nav Animations
   ========================================================================== */


@include device-width(9) {

    .js-ready {

        #sidebar, #parent-title, .logo-container {
            width: $nav-off-canvas-width;
        }
    }


    .js-ready {

        #sidebar, #parent-title, .logo-container {
            left: (0 - $nav-off-canvas-width);          
        }

        #content, #page-title, .navigation-container {
            left: 0;
        }
    }

    .js-nav {

        #content, #page-title {
            left: $nav-off-canvas-width;           
        }
    }


    .csstransforms3d.csstransitions.js-ready {

        #sidebar, #parent-title, .logo-container {
            left: 0;
            @include transform(translate3d(-100%,0,0));
            @include backface-visibility(hidden);
        }

        #content , #page-title, .navigation-container {
            left: 0 !important;
            @include transform(translate3d(0,0,0));
            @include transition(transform 500ms ease);
            @include backface-visibility(hidden);
        }
    }

    .csstransforms3d.csstransitions.js-nav {

        #content, #page-title, .navigation-container {
            @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));

            @include device-width(4) {
                @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));

            }
        }
    }


    .csstransforms3d.csstransitions.js-ready {

        #sidebar, #parent-title, .logo-container {
            @include opacity(0.7);
            @include transition(opacity 300ms 100ms ease, transform 500ms ease);            
        }
    }

    .csstransforms3d.csstransitions.js-nav {

        #sidebar, #parent-title, .logo-container {
            @include opacity(1);
            @include transform(translate3d(0,0,0));
        }
    }
}


/***************************************************************************************/
/* PAGE HEADER 																		   */
/***************************************************************************************/


#page-header {	
	background: #0C305A;
	position: relative;
	z-index: 1;
	overflow: hidden;

	.span {
		background: #0C305A;
	}

	.page-commercial &, .page-commercial & .span {
		background: #143A65;
	}

	.page-education &, .page-education & .span {
		background: #002928;	
	}

	.woocommerce-page &, .woocommerce-page & .span {
		background: #242239; 
	}


	#parent-title, #page-title {
		@include opensans-light;
		color: #FFF;
		@include font-size(35);
		padding: 55px 0 55px 50px;
		@include borderbox;

		@include device-width(12) {
			padding: 35px 0 35px 30px;
		}

		@include device-width(5) {
			padding: 20px 0 20px 15px;
		}
	}

	#parent-title {
		position: relative;

		&:after {
			content: ' ';
			position: absolute;
			right: 0px;
			top: 0;
			height: 250%;
			width: 1px;
			background: #949494;
		}

		h2 {
			opacity: 0.5;

			@include device-width(12) {
				@include font-size(25);
				line-height: 1.5;
			}		

			@include device-width(6) {
				@include font-size(20);	
				line-height: 0.9;		
				margin: 0.4em;
			}				
		}

		@include device-width(9) {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: $nav-off-canvas-width;			
		}


	}

	#page-title {
		@include device-width(9) {
			width: 100%;		
		}

		.nav-btn {
			display: none;

			@include device-width(9) {
				&#nav-open-btn {
					display: block;	
					float:left;
					margin:0.5em 0.5em 0 0;		
					cursor: pointer;
					padding: 10px 35px 16px 0px;

					@include device-width(6) {
						margin: 0 0.5em 0 0;	
					}					

					span, span:before, span:after {
					  cursor: pointer;
					  border-radius: 1px;
					  height: 5px;
					  width: 35px;
					  background: white;
					  position: absolute;
					  display: block;
					  content: '';
					  transition: all 100ms ease-in-out;
					}

					span:before {
					  top: -10px; 
					}
					
					span:after {
					  bottom: -10px;
					}

					&.active span {
					  background-color: transparent;
					}

					&.active span:before, &.active span:after {
					  top: 0;
					}

					&.active span:before {
						@include rotate(45deg);
					}

					&.active span:after {
						@include transform(translateY(-10px) rotate(-45deg));
						top: 10px;
					}									
				}			
			}
		}

		h1 {
			overflow: hidden;
			@include font-size(40);

			@include device-width(6) {
				@include font-size(20);
			}
		}		
	}
}
		

/***************************************************************************************/
/* MAIN 																			   */
/***************************************************************************************/
		
#main {
	overflow: hidden;

	#content {
		border-left: 1px solid #D6D5CE;
		padding: 3em;
		background: #FFF;
		height: 100%;

		@include device-width(9) {
			padding: 1em;
			width: 100%;
			@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
		}		

		@include device-width(6) {
			padding: 1em;
		}
	}

	#page {

		#page-content {

		}
		
	}

	#single {
		@extend .clearfix;

		.sidebar {
			float:right;

			@include device-width(6) {
				width: 100%;

				.support-box {
					display: none;
				}
			}
		}

		.content-inner {
			@include device-width(6) {
				width: 100%;
			}			
		}

		.support-box {
			margin: 5% 0 5% 25%;

			@include device-width(14) {
				margin: 5% 0;
			}

			p {
				@include opensans-light;
				@include font-size(18);
				color: #4A90E2;
			}

			.call-me-back {
				margin: 24px 0;
				width: 100%;
			}


			.phone {
				@include opensans-light;
				@include font-size(30);
				color: #4B4B4B;

				@include device-width(11) {
					@include font-size(23);
				}

				&:before {
					@extend [class*="icon-"];
					@extend .icon-phone:before;							
					color: #4A90E2;
					background: #EFEFEF;
					padding: 10px;
					@include border-radius(50%);
					width: 35px;
					height: 35px;
					@include inline-block;
					@include font-size(28);
					line-height: 35px;
					text-align: center;
					margin-right: 20px;
				}
			}		
		}
	}

}

/***************************************************************************************/
/* SIDEBAR: 	 																	   */
/***************************************************************************************/

		
#sidebar {
	padding: 46px 0;

	@include device-width(9) {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: $nav-off-canvas-width;
	    background: #ECECEC;
	}

	.widget-title {
		@include font-size(25);
		border-bottom: 1px solid #D6D5CE;
		line-height: 1.5;
	}	

	.widget {
		margin: 0 1.2em 2.8em;

		&.widget_auto_childs, &.widget_categories ul, &.widget_nav_menu, &.widget_product_categories {
			margin: 0 0 2.8em;

			.widget-title {
				padding-left: 10px;
			}
		}
	}

	.childpages, .widget_nav_menu ul, .widget_categories ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {

			a {
				padding: 15px 35px;
				color: #4A4A4A;
				display: block;

				&:after {
					color: #FFF;
				}
			}

			&:hover, &.current, &.current-cat {

				a {
					background: #1656A1;
					color: #FFF;

					&:after {
						@extend [class*="icon-"];
						@extend .icon-arrow-right:before;						
						@include font-size(9);	
						float: right;
						margin: 7px -15px 0 0;						
					}					
				}
			}			
		}
	}
}

/****************************/
/* FOOTER::;				*/
/****************************/
#newsletter {
	background: #F6F6F6;
	border-top: 6px solid #e5e5e5;
	padding: 45px 0;

	.container {
		max-width: 40%;

		@include device-width(9) {
			max-width: 80%;
		}
	}

	.gform_wrapper {

		.validation_error {
			margin-bottom: 1em;
		}
		
		.gform_body {
			margin: 0;
			padding: 0;
			float: left;
			width: 70%;
			@include borderbox;

			.gfield {
				margin: 0;
				padding: 0 !important;
				width: 100%;

				.gfield_label {
					margin: 0;
					padding: 0;
					display: none;
				}

				.ginput_container {
					margin: 0;
					max-width: 100%;

					input {
						@include border_radius_right(0px);
						width: 100%;
					}					
				}
			}
		}

		.gform_footer {
			margin: 0;
			padding: 0;
			float: left;
			width: 30%;
			@include borderbox;
			clear: none;


			.button {
				@include border_radius_left(0px);
				padding: 0;
				width: 100%;
				margin: 0;
			}

		}
	}
}

#footer {
	background: #0A2D57;
	color: #FFF;
	position: relative;
	z-index: 1;

	.container {
		padding: 3em 0;
	}

	.span {
		padding-left: 20px;
		padding-right: 20px;
		word-wrap: break-word;
	}	

	@include device-width(7) {		
		.span.two {
			width: 50%;
		}

		.span.six {
			margin-top: 20px;
			width: 100%;	
		}
	}

	.widget {


		.widget-title {
			@include opensans-light;
			@include font-size(20);
			color: #FFF;
			margin-bottom: 15px;

			@include device-width(4) {
				@include font-size(16);
			}
		}

		.textwidget {
			@include opensans;
			@include font-size(13);
			line-height: 18px;

			a {
				color: #4A90E2;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.widget_nav_menu {

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {

				a {
					color: #FFF;
					@include opensans-light;
					@include font-size(20);
					line-height: 1.8em;

					@include device-width(9) {
						@include font-size(14);
					}

					@include device-width(7) {
						@include font-size(20);
					}	

					@include device-width(7) {
						@include font-size(18);
					}									

					&:after {
						@extend [class*="icon-"];
						@extend .icon-arrow-right:before;
						color: #4A90E2;
						@include font-size(9);
						margin-left: 10px;
						@include transition(all 0.3s ease);
					}

					&:hover {
						color: #4A90E2;

						&:after {
							margin-left: 20px;
						}
					}

				}
			}
			
		}
	}	

}

/****************************/
/* BOTTOM FOLLOW BAR		*/
/****************************/	
#follow {
	background: #0A2D57;
	color: #FFF;
	padding: 2em 1em 1.7em;
	border-top: 1px solid #979797;

	.title {
		@include opensans-light;
		@include font-size(20);
		margin-right: 2.5em;

		@include device-width(6) {
			display: block;
		}
	}

	a {
		color: #FFF;
		@extend [class*="icon-"];
		margin-right: 2.5em;
		@include inline-block;

		@include device-width(6) {
			margin-top: 1em;
		}

		@include device-width(5) {
			width: 40%;
			margin-right: 0;
			float: left;
			padding-left: 10%;		
		}

		&:hover {
			color: #4A90E2;
		}

		&:before {
			@include font-size(20);
			margin-right: 5px;
		}

		&.facebook {
			&:before {
				@extend .icon-facebook:before;
			}
		}

		&.twitter {
			&:before {
				@extend .icon-twitter:before;
			}
		}

		&.linkedin {
			&:before {
				@extend .icon-linkedin:before;
			}
		}

		&.youtube {
			&:before {
				@extend .icon-youtube:before;
			}
		}						
	}
}

.credits {
	background: #011630;
	padding: 20px 0;
	color: #FFF;
	@include opensans-light;

	a {
		color: #FFF;
		@include opensans;

		&:hover {
			text-decoration: underline;
		}		
	}

	.copyright {
		float: left;
		margin-right: 2.8em;
	}

	.menu {
		float:left;
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			float: left;
			margin-right: 1.5em;
		}
	}

	.siteby {
		text-align: right;

		@include device-width(7) {
			width: 100%;
		}
	}
}

/* =============================================================================
   Pages
   ========================================================================== */

#page {
	z-index: 1;
}

/****************************/
/* Front-Page;				*/
/****************************/	

#front-page {

	#content {

		.page-content {
			@extend .clearfix;

			.break-on-mobile {
				@include device-width(7) {
					width: 100% !important;
					margin-left: 0;
					margin-right: 0;
				}
			}

			.hide-on-mobile {
				@include device-width(7) {
					display: none !important;
				}
			}			

			.seven {
				background: #042143;
				color: #FFF;
				@include border-radius(10px);
				padding: 32px;

				a {
					color: #FFF;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			a.live-chat {
				display: none;
			}
		}


		section {
			float: left;
			width: 100%;
			margin: 6% 0;

			.section-inner {
				float: left;
				width: 99%;
				margin: -40px 0;
				position: relative;				

				.section-title {
					color: #FFF;
					@include opensans-light;
					@include font-size(40);
					position: absolute;
					top: 15%;
					left: 2%;
					width: 35%;					
				}
			}
			.span {
				position: relative;

				a {
					position: absolute;
					width: 96%;
					@include border-radius(10px);
					overflow: hidden;	
					height: 96%;
					margin: 2%;
					background-size: contain;
					background-repeat: no-repeat;
					@include borderbox;
					padding: 10px;			
					left: 0;						
				}

				&.two {
					padding-bottom: 20%;

					a {
						margin: 4%;
					}
				}

				&.four {
					padding-bottom: 40%;
				}

				&.half {
					padding-bottom: 20%;
					
					 a {
						height: 96%;
					}						
				}					

				&.half.valign-bottom {
					padding-bottom: 40%;

					a {
						height: 48%;
						top: 48%;
					}					
				}

				@include device-width(8) {
					width: 50%;
					margin: 0 !important;
					padding-bottom: 40% !important;

					a {
						margin: 1% !important;
					}

					&.half.valign-bottom {
						a {
							top: 0%;
							height: 96%;
						}
					}
				}

				@include device-width(6) {
					width: 100%;
					margin: 0 !important;
				}					

				.title {
					color: #FFF;
					position: absolute;	
					@include opensans-light;	
					@include borderbox;
					padding: 4%;	

					h1 {
						@include font-size(24);	
						line-height: 1.3;

						@include device-width(11) {
							font-size: 2rem !important;								
						}
					}

					p {
						@include font-size(14);	
					}

				}

				.left .title {
					left: 0;
					width: 50%;
					height: 100%;
					float: none;
					height: 100%;						
				}

				.right .title {
					right: 0;
					top: 0;
					width: 50%;
					height: 100;
					float: none;
					height: 100%;						
				}	

				.top .title {
					top: 0;
					width: 100%;
					left: 0;
				}	

				.bottom .title {
					bottom: 0;
					width: 100%;
					left: 0;
				}

				.full .title {
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}					
			}
		}

		section.offers {
			margin: 4% 0;

			.section-inner {
				margin: 0;
			}

			.title {
				width: 50%;
				margin-bottom: 4em;

				h1 {
					@include font-size(48);
				}
			}

			.span {

				@include device-width(8) {
					width: 50%;
				}	

				@include device-width(4) {
					width: 100%;
					padding-bottom: 60% !important;
				}				

				&.third {
					padding-bottom: 20.7%;
					

					&.large {
						padding-bottom: 42%;
					}
				}

				a {
					@include border-radius(0);
					padding: 0;
					
					@include device-width(4) {
						background-size: cover;
					}

					.offer-title {
						width: auto;
						margin: 0;
						padding: 20px;
						@include font-size(20);
						@include inline-block;
						color: #FFF;
						@include transition(all 0.3s ease);

						@include device-width(4) {
							@include font-size(15);
							width: 89%;
						}						

						p {
							margin: 0;
						}
					}

					&:hover .offer-title {
						background: #00459C;
					}
				}

			}
		}

	}
}


/****************************/
/* Woocommerce;				*/
/****************************/	

.woocommerce {

	.widget_product_categories {

		> ul.product-categories {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				position: relative;

				a {
					color: #4A4A4A;
					@include opensans;
					padding: 20px 60px;
					display: block;

					&:hover {
						@include vertical-gradient(#F7F6F3, #E6E4DB);
					}
				}

				&.current-cat {

					> a {
						@include vertical-gradient(#F7F6F3, #E6E4DB);
					}
				}

				&.cat-parent {
					span {
						position: absolute;
						right: 15px;
						top: 25px;
						width: 17px;
						height: 14px;
						cursor: pointer;

						&:after {
							@extend [class*="icon-"];
							@extend .icon-down-chevron:before;
							color: #C2C2C2;
						}

						&.open {
							&:after {
								@extend [class*="icon-"];
								@extend .icon-up-chevron:before;
								color: #C7C7C7;
							}							
						}
					}

					&:hover {
						span {
							color: #41009E;
						}
					}
				}

				&.current-cat, &.current-cat-parent {
					> a {
						color: #41009E;
					}
				}

				ul {
					display: none;
					list-style-type: none;
					padding: 0;
					background: #F7F7F7;

					li {

						a {
							padding-left: 80px;
						}

						ul {
							background: #F1F1F1;
							li {

								a {
									padding-left: 100px;			
								}
							}
						}
					}
				}
			}
		}

	}
}

#front-page {
	#content {
		border: none;
		@include borderbox;
	}
}

#news {

	.post {
		overflow: hidden;
		margin-bottom: 1.5em;

		&.span {
			@include device-width(8) {
				width: 50%;
			}
		}

		a {
			height: 100%;
			display: block;
			@include border_radius(10px);
			@include vertical-gradient(#00817F, #006867);	
		}

		img {
			display: block;
			@include border_radius_top(10px);
		}

		.title {			
			padding: 2.8em 1.7em;
			@include opensans-light;			
			
			.entry-title {
				margin: 0;
				color: #FFF;
				@include font-size(28);
				line-height: 1.2;

				@include device-width(10) {
					@include font-size(24);
				}				

				@include device-width(8) {
					@include font-size(20);
				}				
			}		
		}
	}
}