/* =============================================================================
   Misc
   ========================================================================== */

img {
	max-width: 100%;
	height: auto;
}

img.alignleft {
	margin: 0 1em 1em 0;

}

blockquote {
	background: #FFF;
	border: 1px solid #d0d0d0;
	@include border-radius(0.8em);
	padding: 1em;
	margin: 1em 0.5em 2.5em 0.5em;
	position: relative;
	text-align: center;
	color: #4A4A4A;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -25px;
		left: 25px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 25px solid transparent; 
		border-right: 25px solid #FFF;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -27px;
		left: 24px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 27px solid transparent; 
		border-right: 27px solid #d0d0d0; 
	}

	.quote {
		display: block;
		&:before {
			color: #eeb111;
		}

		&:after {
			color: #eeb111;
		}
	}
	.quotee {
		display: block;
		position: absolute;
		top: 100%;
		margin-top: 1em;
		left: 5em;
		text-align: left;
	}
}

.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.scroll-table {
	overflow: auto;
}

.scroll-table-signs {
	display: none;

	@include device-width(5) {
		display: block;
	}
}

.hide {
	display: none;
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}

.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #999;
	border: 0;
    height: 1px;
	margin: 1em auto;

	&.thick {
		height: 4px;	
	}
}


.border {
	border: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;	
}

.border-top {
	border-top: 1px solid #ececec;	
}

.border-left {
	border-left: 1px solid #ececec;	
}

.border-right {
	border-right: 1px solid #ececec;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}


.overlay {
	// width:100%;
	// height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.4);
	@include transition(all 0.6s ease);

	.no-rgba & {
		@include opacity(0.4);
		background: #000;
	}
}

.lightbox {
	left: 50%;
    margin-left: -550px;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 1100px;
    z-index: 200;
	
	> .loader {
		padding: 280px 0 0 0;
	}
}
	

.scale {
	width: 100%;
	height: auto !important;
	max-width: 100%;
	display: block;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

/* =============================================================================
   Colors / Backgrounds
   ========================================================================== */

.green-bg {
	@include vertical-gradient(#5B8E26, #86B555);
}

.dark-green-bg {
	@include vertical-gradient(#006867, #00817F);
}

.orange-bg {
	@include vertical-gradient(#EE8803, #EC9D0A);
}

.blue-bg {
	@include vertical-gradient(#4F88CB, #72ACF0);
}

.dark-blue-bg {
	@include vertical-gradient(#3E6A9E, #5179A8);
}

.solid-green-bg {
	background: #007573;
}
.solid-orange-bg {
	background: #EC9708;
}

.solid-blue-bg {
	background: #4389DC;
}

.solid-red {
	background: #DD4459;
}



/* =============================================================================
   Lists
   ========================================================================== */

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 0.2em 0;
	}
}


/* =============================================================================
   Backgrounds
   ========================================================================== */

/* =============================================================================
   Widgets
   ========================================================================== */

.widget_support_widget {

	.support {
		@include border-radius(10px);
		background: #759950;
		color: #FFF;
		padding: 1.8em 1.2em;
		@include opensans-light;
		@include font-size(17);

		p {
			margin-top: 0;
			font-size: 1.7rem !important;

			span {
				@include font-size(25);
			}
		}

		a {
			@include vertical-gradient(#86B555, #5B8E26);
			@include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.50));
			margin: 0;

			&:hover {
				@include vertical-gradient(#5B8E26, #86B555);
			}

			&:before {
				@extend [class*="icon-"];
				@extend .icon-bubble:before;
			}			
		}
	}

	a {
		@include border-radius(4px);
		@include font-size(17);
		padding: 1em 0;
		width: 100%;	
		text-align: center;	
		color: #FFF;
		display: block;		
	}

	.live-chat {
		margin: 15px 0;
		@include vertical-gradient(#EC9D0A, #EE8803);

		&:hover {
			@include vertical-gradient(#EE8803, #EC9D0A);				
		}

		&:before {
			@extend [class*="icon-"];
			@extend .icon-chat:before;
			margin-right: 5px;
		}				

	}
}   

.widget-megamenuseparator {
	.separator {
		width: 100%;
		display: block;
		@include border-radius(3px);
		border: 1px dashed #979797;		
		padding: 0 1.5em;
		margin: 2em 0;
		line-height: 5.5em;
		@include borderbox;

		span {
			@include font-size(17);
			color: #FFF;
		}

		a.button {
			float: right;
			@include border-radius(3px !important);
			@include vertical-gradient(#86B555, #5B8E26 );
			@include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.50));
			padding: 20px 35px !important;
			line-height: 1;
			margin-top: 10px;

			&:hover {
				@include vertical-gradient(#5B8E26, #86B555 );
			}
		}
	}
}

.widget-help-box-widget, .widget_help_box_widget {
	@extend .clearfix;
	

	.help-box {
		@extend .clearfix;
		background: #FFF;
		@include border-radius(4px);
		@include vertical-gradient(#FFFFFF, #F2F2F2);
		padding: 35px 20px;
		@include borderbox;

		@include device-width(11) {
			padding: 20px 10px;
		}		

		img.profile {
			border: 6px solid #FFFFFF;
			@include border-radius(50%);
			@include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
			float: left;
			margin-right: 20px;
		}

		.title {
			@include opensans-light;
			@include font-size(22);
			color: #1656A1;
			margin-top: 0;			
		}

		p {
			overflow: hidden;
			@include font-size(15);
		}

		.phone {
			@include opensans-light;
			@include font-size(30);
			color: #4B4B4B;

			@include device-width(11) {
				@include font-size(20);
			}

			&:before {
				@extend [class*="icon-"];
				@extend .icon-phone:before;							
				color: #4A90E2;
				background: #EFEFEF;
				padding: 10px;
				@include border-radius(50%);
				width: 50px;
				height: 50px;
				@include inline-block;
				@include font-size(30);
				line-height: 50px;
				text-align: center;
				margin-right: 20px;
			}
		}

		.call-me-back {
			@include font-size(17);
			padding: 1em 5em;
			float: left;
			margin-top: 30px;
		}		
	}
}

.support-box {

	p {
		@include opensans-light;
		@include font-size(18);
		color: #4A90E2;
	}

	.call-me-back {
		margin: 24px 0;
		width: 100%;
	}


	.phone {
		@include opensans-light;
		@include font-size(30);
		color: #4B4B4B;

		@include device-width(11) {
			@include font-size(23);
		}

		&:before {
			@extend [class*="icon-"];
			@extend .icon-phone:before;							
			color: #4A90E2;
			background: #EFEFEF;
			padding: 10px;
			@include border-radius(50%);
			width: 35px;
			height: 35px;
			@include inline-block;
			@include font-size(28);
			line-height: 35px;
			text-align: center;
			margin-right: 20px;
		}
	}		
}

#right-product {
	padding: 2em 6em;
	background: #FFF;
	clear: left;

	@include device-width(8) {
		padding: 1em;
	}

	.ten {
		padding-right: 40%;

		@include device-width(8) {
			padding-right: 0;
		}		
	}

	.four {
		@include device-width(8) {
			width: 100%;
		}	
	}

	h3 {
		@include opensans-light;
		@include font-size(18);
		color: #4A90E2;
	}

	p {
		@include font-size(14);
		color: #4A4A4A;
	}

	.call-me-back {
		margin: 24px 0;
		width: 100%;
	}

	.phone {
		@include opensans-light;
		@include font-size(30);
		color: #4B4B4B;
		padding-top: 0.8em;

		@include device-width(11) {
			@include font-size(23);
		}

		&:before {
			@extend [class*="icon-"];
			@extend .icon-phone:before;							
			color: #4A90E2;
			background: #EFEFEF;
			padding: 10px;
			@include border-radius(50%);
			width: 35px;
			height: 35px;
			@include inline-block;
			@include font-size(28);
			line-height: 35px;
			text-align: center;
			margin-right: 20px;
		}
	}		
}

.bubble {
	position: relative;
	@include font-size(13);
	color: #4A4A4A;
	display: block;
	background: #FAFAFA;
	border: 1px solid #E3E3E3;
	@include borderbox;
	padding: 17px;
	@include border-radius(5px);

	&:after, &:before {
		bottom: 100%;
		left: 20%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(250, 250, 250, 0);
		border-bottom-color: #FAFAFA;
		border-width: 14px;
		margin-left: -14px;
	}
	&:before {
		border-color: rgba(227, 227, 227, 0);
		border-bottom-color: #E3E3E3;
		border-width: 15px;
		margin-left: -15px;
	}

	&.left {

		&:after, &:before {
			right: auto;
			left: -15px;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}		

		&:after {
			border-color: rgba(250, 250, 250, 0);
			border-right-color: #FAFAFA;
			border-width: 15px;
			margin-top: -15px;
		}
		&:before {
			border-color: rgba(227, 227, 227, 0);
			border-right-color: #E3E3E3;
			border-width: 15px;
			margin-top: -15px;
		}	
	}	
}

/* =============================================================================
   Widgets
   ========================================================================== */

.carousel {
	display: block;
	position: relative;
	width: 100%;

	.carousel-container {
		display: block;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		@include box-sizing(border-box);
		padding: 0 25px;

		.carousel-wrapper, .carousel-wrapper2 {
			clear: both;
			height: auto;
			overflow: hidden;
			margin: 0;

			.carousel-element {
					width: 100%;
					float: left;
					margin: 0;
					background: #FFF;
					@include box-sizing(border-box);

				.ce-inner {
					padding: 20px;
					border-right: 1px solid #C0C0C0;
					display: block;
					line-height: 1.5;
					color: #666;

					a {
						color: #1656A1;
						@include font-size(18);
						@include opensans-light;
						display: block;

						@include device-width(9) {
							@include font-size(14);
						}						

						&:hover {
							color: #0A2D57;
						}
					}	

					@include device-width(5) {
						a {
							@include font-size(12);	
						}
						
						p {
							display: none;
						}
					}											
				}
			}
		}
	}

	.carousel-nav, .carousel-index {
		display: block;
		margin: 0 auto;
	}

	.nav {
		position: absolute;
		width: 31px;
		background: #4A90E2;
		color: #FFF;
		height: 100px;
		display: block;
		height: 100%;
		top: 0px;
		text-align: center;			

		&:hover {
			text-decoration: none;
		}
	}

	.prev {
		left: 0px;

		&:before {
			position: absolute;
			top: 45%;
			left: 8px;
			@extend [class*="icon-"];
			@extend .icon-arrow-left:before;
		}
	}	

	.next {
		right: 0px;

		&:before {
			position: absolute;
			top: 45%;
			left: 8px;
			@extend [class*="icon-"];
			@extend .icon-arrow-right:before;				
		}			
	}				
}



.ui-autocomplete {
	z-index: 100;

	&:before {
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;	
		border-bottom: 5px solid #4E4E4E;
	}


}

.ui-widget-content {
	border:1px solid #C1C1C1;
	border-top: 8px solid #4E4E4E;
	@include box-shadow(#363636 0 3px 4px);

	li.ui-menu-item {
		margin: 0;
		padding: 0;
		@include transition(none);

		a {
			color: #4A90E2;
			padding: 0.8em 1.5em;
			@include opensans;
			@include font-size(14);
			@include transition(none);

			// &:hover {
			// 	background: none;
			// 	border: none;
			// 	color: #0C305A;
			// }
		}
	}
}

.widget-easy-twitter-feed-widget-kamn {

	.widget-title {
		&:before {
			@extend [class*="icon-"];
			@extend .icon-twitter:before;
			display: block;
			width: 100%;
			color: #D8D8D8;
			margin-bottom: 0.5em;
		}
	}

	iframe {
		width: 100% !important;
	}
}

.tech-quote {

	.image {
		img {
			display: block;
		}
	}
	.copy {
		color: #FFF;
		@include font-size(15);
		@include vertical-gradient(#F76B1C, #E65B47);
		@include borderbox;
		padding: 1.5em 2em;
		line-height: 1.4;
		@include border_radius_bottom(4px);

		span {
			color: #FFF !important;
		}

		.quote {
			margin-bottom: 1em;

			&:before {
				@extend [class*="icon-"];
				@extend .icon-quote:before;
				display: block;
				margin-bottom: 0.5em;
			}
		}

		.meta {
			color: #FFF;
			@include font-size(14);			

			.author {
				@include opensans-bold;
				width: 100%;
				display: block;						

			}

			.position {
				@include opensans-light;
			}
		}		
	}
}

.widget_top_rated_products {
	.product_list_widget {

		li {
			background: #FFF;
			@include border-radius(4px);
			@include box-shadow(0 1px 0px 0px #E4E4E4);
			margin: 1em 0 !important;
			@include borderbox;
			padding: 1em !important;
			text-align: right;

			&:hover {
				background: #F7F7F7;
			}

			a {
				@include opensans-light;
				@include font-size(13);
				color: #4A4A4A;
				font-weight: normal !important;
				text-align: left;

				img {
					float: left !important;
					width: 50px !important;
					height: auto !important;	
					margin-right: 15px !important;			
				}
			}

			.amount {
				font-weight: bold;
			}
		}
	}
}


   /* =============================================================================
   Pagination
   ========================================================================== */

 .pagination {
	text-align: center;
	text-transform: lowercase;
	margin-top: 4em;
	width: 100%;
	display: block;
	clear: both;
	
	a {
		&:hover {

			.no-touch & {
				color: #000;
				background: #FFF;	
				border: 1px solid transparent;
				@include vertical-gradient(#DFDFDF, #D4D4D4);
				@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.46));
			}
		}
	}

	.page-numbers {
		display: inline-block;
		height: 34px;
		line-height: 34px;
		color: #BBBBBB;
		background: #FFF;
		padding: 0 1em;
		border: 1px solid #D8D8D8;
		margin: 0 1em;
		@include opensans-bold;
		@include border-radius(6px);

		&.dots {
			color: #000;
			background: #FFF;
			border-color: #FFF;
		}
		
		&.current {
			color: #000;
			background: #FFF;
		}
	}
}

.widget_product_categories {

	> ul.product-categories {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;

			a {
				color: #4A4A4A;
				@include opensans;
				padding: 20px 60px;
				display: block;

				&:hover {
					@include vertical-gradient(#F7F6F3, #E6E4DB);
				}
			}

			&.current-cat {

				> a {
					@include vertical-gradient(#F7F6F3, #E6E4DB);
				}
			}

			&.cat-parent {
				span {
					position: absolute;
					right: 15px;
					top: 25px;
					width: 17px;
					height: 14px;
					cursor: pointer;

					&:after {
						@extend [class*="icon-"];
						@extend .icon-down-chevron:before;
						color: #C2C2C2;
					}

					&.open {
						&:after {
							@extend [class*="icon-"];
							@extend .icon-up-chevron:before;
							color: #C7C7C7;
						}							
					}
				}

				&:hover {
					span {
						color: #41009E;
					}
				}
			}

			&.current-cat, &.current-cat-parent {
				> a {
					color: #41009E;
				}
			}

			ul {
				display: none;
				list-style-type: none;
				padding: 0;
				background: #F7F7F7;

				li {

					a {
						padding-left: 80px;
					}

					ul {
						background: #F1F1F1;
						li {

							a {
								padding-left: 100px;			
							}
						}
					}
				}
			}
		}
	}
}

.sharethis {
	background: #1656A1;	
	padding: 15px;
	@include inline-block;
	margin: 2em 0 0 0;

	span {
		margin-right: 10px;
	}

	a {
		color: #FFF;
		@extend [class*="icon-"];
		margin-right: 0.5em;
		@include inline-block;

		&:hover {
			color: #4A90E2;
		}

		&:before {
			@include font-size(20);
			margin-right: 5px;
		}

		&.facebook {
			&:before {
				@extend .icon-facebook:before;
			}
		}

		&.twitter {
			&:before {
				@extend .icon-twitter:before;
			}
		}

		&.linkedin {
			&:before {
				@extend .icon-linkedin:before;
			}
		}

		&.googleplus {
			&:before {
				@extend .icon-googleplus:before;
			}
		}						
	}	
}

.clickdesk-ultra {
	display: none;
}