$woocommerce: #ad74a2;

.clear { clear: both; }
.nobr { white-space: nowrap; }




$primary: #ad74a2;                                                                         /* Primary colour for buttons (alt) */
$primarytext: desaturate(lighten($primary,50%),18%);                /* Text on primary colour bg */

$secondary: desaturate(lighten($primary,40%),18%);                /* Secondary buttons */
$secondarytext: desaturate(darken($secondary,60%),18%);                /* Text on secondary colour bg */

$highlight: adjust-hue( $primary, 150 );                                                 /* Prices, In stock labels, sales flash */
$highlightext: desaturate(lighten($highlight,50%),18%);        /* Text on highlight colour bg */

$contentbg: #fff;                                                                                 /* Content BG - Tabs (active state) */
$subtext: #4A4A4A;      

/* Colours */
$tertiary: $primary; 									/* Price slider bar / layered nav UI */
$tertiarytext: $primarytext;								/* Text on tertiary colour bg */
$quaternary: desaturate( darken( $tertiary, 45%), 40% ); /* Price slider bg */

/* =Custom Font
-------------------------------------------------------------- */


/* =Global styles/layout
-------------------------------------------------------------- */
.woocommerce-message, .woocommerce-error, .woocommerce-info {
	padding: 1em 1em 1em 3.5em;
	margin: 2em 0;
	position: relative;
	background: #fafafa;
	color: $secondarytext;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	list-style:none outside;	
	@include clearfix();
	width: auto;

	@include device-width(10) {
		margin: 1em 0;
	}

	@include device-width(8) {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	&:before {
		content: "";
		height: 1.5em;
		width: 1.5em;
		display:block;
		position:absolute;
		top: 0;
		left: 1em;
		font-family: sans-serif;
		font-size:1em;
		line-height: 1.5;
		text-align: center;
		color: #fff;
		text-shadow:0 1px 0 rgba(0,0,0,0.2);
		padding-top:1em;
		@include inset-box-shadow(0,-1px,0,0,rgba(0,0,0,0.1));
	}

	a.button {
		float: right;
		@include font-size(12);
	}

	li {
		list-style:none outside;
		padding-left:0;
		margin-left:0;
	}
}

.woocommerce-message {
	border-top:3px solid #8fae1b;
	&:before {
		background-color:#8fae1b;
		content: "\2713";
	}
}
.woocommerce-info {
	border-top:3px solid #1e85be;
	&:before {
		background-color:#1e85be;
		content: "i";
		font-family: Times, Georgia, serif;
		font-style: italic;
	}
}
.woocommerce-error {
	border-top:3px solid #b81c23;
	&:before {
		background-color:#b81c23;
		content: "\00d7";
		font-weight: 700;
	}
}


.admin-bar { // Styles applied when the admin bar is present
	p.demo_store {
		top:28px;
	}
}

.woocommerce, .woocommerce-page { 

	#page {

		#content {
			background: #fcfcfc;
		}
	}

	.woocommerce-breadcrumb{
		@include clearfix();
		padding: 2em 3em;
		margin: 0;
		color: $subtext;
		@include opensans-light;
		@include font-size(14);
		background: #F1F1F1;

		a {
			@include opensans-bold;
			margin: 0 1em;
			color: #242239;

			&:hover {
				color: #41009E;
			}
		}
	}	

	#main {
		#content {
			padding: 0;


			.row {
				padding: 2em;
			}

			#expertise .row {
				padding: 0;
			}

			.cat-header {
				background: #f7f7f7;

				&.no-child {
					padding: 0;

					.span {
						padding: 0;
						height: 260px;

						&.logo {
							text-align: center;
						}

						&.picture {
							text-align: right;

							img {
								@include inline-block;
							}
						}
					}
				}
			}			
		}		
	}

	/* Product Page
	-------------------------------------------------------------- */

	#product {
		padding: 4em 8em;

		@include device-width(10) {
			padding: 4em 2em;
		}

		.product {
			@extend .clearfix;

			.images {
				img {
					@include box-shadow(none !important);
					background: #FFF;
				}

				.thumbnails {
					a {
						width: 21%;
					}
				}
			}

			.entry-summary {
				background: #FFF;
				padding: 2em;
				@include borderbox;

				h1 {
					@include font-size(22);
				}

				.single_add_to_cart_button {
					margin-top: -6px;
				}
			}

			.description {
				@extend .clearfix;

				.summary {
					width: 100%;
				}

				.details {
					.read-less {
						margin-bottom: 15px;
						display: block;
					}
				}

			}
		}

		.more-products {
			@extend .clearfix;
			display: block;
			width: 100%;
			margin: 5em 0;

			h2 {
				@include font-size(22);
				color: #1656A1;
				@include opensans-light;
				margin-bottom: 1em;
			}

			h4 {
				@include font-size(13);
				color: #4A4A4A;
				font-weight: normal;
			}

			.span.five {
				@include device-width(7) {
					width: 100%;
				}
			}

			.item {

				img {
					background: #FFF;
					display: block;
					border: 1px solid #EDEDED;
					padding: 1em;
					@include borderbox;
					@include transition(all 0.3s ease);
				}

				a {
					display: block;

					&:hover {
						img {
							border: 1px solid #759950;
						}						
					}
				}
			}
		}
	}

	.woo-cat {
		.woo-content {
			padding: 3em;
			@include borderbox;

			@include device-width(7) {
				width: 100%;
			}

			.section-title {
				@include font-size(23);
				color: #4A4A4A;
				margin: 1em 0;
			}

			.cat-description {
				@include border-radius(4px);
				background: #FFF;
				@include box-shadow(0 1px 2px rgba(black, 0.5));
				@include borderbox;
				padding: 25px;
				margin-bottom: 4em;
				color: #333;

				span {
					color: #333 !important;
				}

				a {
					color: #4A90E2 !important;
				}
			}

			ul.products {
				.item {
					@include border-radius(4px);
					background: #FFF;
					@include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
					line-height: 15px;
					margin: 2%;
					width: 46%;
					padding: 1em;

					@include device-width(10) {
						width: 100%;
						margin: 4% 2%;
					}

					&:hover {
						background: #f7f7f7;
					}

					img {
						float: left;
						width: 40%;
						margin-right: 5%;
					}

					h4 {
						@include font-size(17);
						color: #4A4A4A;
					}

					p {
						@include font-size(12);
						color: #4A4A4A;
						overflow: hidden;
					}
				}
			}
		}

		// Product list SIDEBAR
		.product-list-sidebar {
			padding: 3em 2.3em;

			.widget-title {
				@include opensans;
				@include font-size(23);
				color: #4A4A4A;
				margin-bottom: 1.5em;
			}

			aside {
				margin-bottom: 3em;
			}

			@include device-width(7) {
				width: 100%;

				.tech-quote {
					.image {
						display: none;
					}
				}
			}							
		}		

		.same-level-categories {
			margin-bottom: 5em;

			h3 {
				padding: 0 3em;
			}

			.item {
				text-align: center;
				padding: 0 4em;
				margin: 0.5em 0;

				@include device-width(8) {
					padding: 0 1em;
				}

				a {
					padding: 2em;
					display: block;
					background: #f7f7f7;
					position: relative;
					height: 75%;

					img {
					
					}
				}
			}
		}
	}

	#top-level-cat {
		ul.products {
			padding: 2em;

			@include device-width(5) {
				padding: 0;
			}			

			li {
				width: 29%;
				margin: 2%;

				@media only screen and (max-width: 768px) {	
					width: 46%;
					margin: 2%;
					float: left;
				}

				@include device-width(5) {
					width: 100%;
					margin: 2em 0;
				}				

				h3 {
					@include font-size(23);
					color: #4A4A4A !important;
					@include opensans;

					.count {
						display: none;
					}
				}				

				.excerpt {
					display: none;
				}

				.image-holder {
					height: 213px;
				}
			}

		}
	}

	#mid-level-cat {

		ul.products {
			padding: 4em;

			@include device-width(5) {
				padding: 2em;
			}			

			li {
				width: 40%;
				margin: 2% 5%;
				@include box-shadow(none);

				&:nth-child(2n+1) {
					clear: left;
				}

				@include device-width(5) {
					width: 100%;
					margin: 2em 0;
				}


				a {
					color: #4A4A4A;

					.image-holder {
						background: #f7f7f7;
						padding: 2em;
						height: 158px;

						img {
							@include box-shadow(none);
							@include borderbox;
							max-width: 100%;
							height: auto;
							width: auto;	
							margin: 0 auto;
						}											
					}

					h3 {
						@include font-size(23);
						color: #4A4A4A !important;
						@include opensans;

						.count {
							display: none;
						}
					}
				}
			}
		}
	}



	/* =Buttons
	-------------------------------------------------------------- */

	a.button, button.button, input.button, #respond input#submit, #content input.button {
		@include vertical-gradient(#86B555, #5B8E26);
		@include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.50));
		margin: 0;
		padding: 1em 3em;
		@include border-radius(4px);
		color: #FFF;
		@include inline-block;
		text-align: center;
		@include borderbox;
		border: none;

		&:hover {
			@include vertical-gradient(#4A90E2, #2F77CC);		
		}
	}

	button.single_add_to_cart_button {
		&:before {
			@extend [class*="icon-"];
			@extend .icon-basket:before;
			margin-right: 5px;
		}		
	}

	.cart .button, .cart input.button {
		float:none;
	}

	a.added_to_cart {
		padding-top: .5em;
		white-space: nowrap;
		display: inline-block;
	}

	a.button, input.button, #content input.button, button.button {
		text-shadow: none;
		@include opensans;
		margin: 0 0.5em;
		padding: 0.7em;
	}	

	#content p {
		a.button.wc-backward {
			color: #FFF;
		}		
	}


	/* =Quantity inputs
	-------------------------------------------------------------- */

	.quantity, #content .quantity {
		width: 60px;
		position: relative;
		margin: 0 auto;
		overflow:hidden;
		zoom: 1;

		/* Disable input[type=number] buttons until the world is ready */
		input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
			display:none;
		}

		input.qty {
			width: 40px;
			height: 28px;
			float:left;
			padding: 0;
			text-align: center;
			border: 1px solid darken( $secondary, 20 );
			border-right: 0;
			@include inset-box-shadow( 0, 0, 2px, 0, $secondary );
			font-weight: bold;
		}

		/* Hide buttons for opera */
		noindex:-o-prefocus, input[type=number] {
		    padding-right: 1.2em;
		}

		.plus, .minus {
			display:block;
			padding: 0;
			margin: 0;
			position:absolute;
			text-align: center;
			vertical-align: text-top;
			width: 20px;
			height: 15px;
			text-decoration:none;
			overflow: visible;
		    text-decoration:none;
		    font-weight:bold;
		    cursor: pointer;
		    line-height: 13px;
		    font-size: 12px;
		    @include border-radius(2px);

		    color: $secondarytext;
			
			border: 1px solid darken( $secondary, 20 );
			@include vertical-gradient( $secondary, darken( $secondary, 10 ) );

		    -webkit-box-shadow:
		        inset 0 -1px 0 rgba(0,0,0,0.075),
		        inset 0 1px 0 rgba(255,255,255,0.3),
		        0 1px 2px rgba(0,0,0,0.1);
		    -moz-box-shadow:
		        inset 0 -1px 0 rgba(0,0,0,0.075),
		        inset 0 1px 0 rgba(255,255,255,0.3),
		        0 1px 2px rgba(0,0,0,0.1);
		    box-shadow:
		        inset 0 -1px 0 rgba(0,0,0,0.075),
		        inset 0 1px 0 rgba(255,255,255,0.3),
		        0 1px 2px rgba(0,0,0,0.1);

		    &:hover {
		    	@include vertical-gradient( $secondary, darken( $secondary, 15 ) );
		    }
		}

		.plus {
			top: 0;
			right: 0;
			border-bottom: 0;
		}

		.minus {
			bottom: 0;
			right: 0;
		}
	}


	/* =Tables
	-------------------------------------------------------------- */

	table.shop_attributes {
		border: 0;
		border-top: 1px dotted rgba(0,0,0,0.1);
		margin-bottom: 1.618em;
		width: 100%;
		th {
			width: 150px;
			font-weight:bold;
			padding: 8px;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5em;
		}
		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5em;
			p {
				margin: 0;
				padding: 8px 0;
			}
		}
		.alt td, .alt th {
			background: rgba(0,0,0,0.025);
		}
	}


	table.my_account_orders {
		font-size: 0.85em;
		th, td {
			padding: 4px 8px;
			vertical-align: middle;
		}
		.button {
			white-space:nowrap;
		}
		.order-actions {
			text-align: right;
			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		dl.variation {
			margin: .25em 0 .5em;
			font-size: 0.8751em;
			dt {
				font-weight:bold;
				float:left;
				clear:left;
				margin: 0 .25em 0 0;
				padding: 0;
			}
			dd {
				margin: 0 0 .25em 0;
			}
		}
		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}


	/* =Cart Page
	-------------------------------------------------------------- */

	&.woocommerce-cart {

		.page-content {
			padding: 3em;
		}

		input#coupon_code {
			width: 48% !important;
		}		

		.cart-collaterals {
			@include clearfix();
			width: 100%;
			.related {
				width: 30.75%;
				float:left;
			}

			.cross-sells {
				width: 48%;
				float:left;

				ul.products {
					float:none;

					li {
						width: 48%;
					}
				}
			}
			.shipping_calculator {
				width: 48%;
				text-align: right;
				@include clearfix();
				margin: 20px 0 0 0;
				clear: right;
				float: right;
				.button {
					width: 100%;
					float:none;
					display:block;
				}
				.col2-set {
					.col-1, .col-2 {
						width: 47%;
					}
				}
			}
			.cart_totals {
				float: right;

				width: 48%;
				text-align: right;
				p {
					margin: 0;
					small {
						color: $subtext;
						font-size: 0.83em;
					}
				}
				table {
					border-collapse: separate;
					@include border-radius(5px);
					margin: 0 0 6px;
					padding: 0;
					tr:first-child {
						th, td {
							border-top: 0;
						}
					}
					td, th {
						padding: 6px 3px;
					}
					small {
						display:block;
						color: $subtext;
					}
					select {
						width: 100%;
					}
				}
				.discount td {
					color: $highlight;
				}
				tr td, tr th {
					border-top: 1px solid $secondary;
					padding: 6px 6px;
				}
				a.button.alt {
					width: 193px;
					display:block;
					font-size: 0.92em;
				}
			}
		}


	}


	/* =Forms
	-------------------------------------------------------------- */

	form {
		.form-row {
			@include clearfix();
			margin: 0 0 1em;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}

			label {
				display:block;
			}
			label.hidden {
				visibility:hidden;
			}

			.large-label {
				text-align: center;
				border-bottom: 1px solid #cccccc;
				padding: 1em 0;
				line-height: 1;
				@include font-size(14);
				
			}
			select {
				width: 100%;
				cursor: pointer;
				margin: 0;
			}
			.required {
				color: red;
				font-weight:bold;
				border: 0;
			}
			.input-checkbox {
				display: inline;
				margin: -2px 8px 0 0;
				text-align: center;
				vertical-align: middle;
			}
			label.checkbox {
				display: inline;
			}
			input[type=text],
			input[type=email],
			input[type=url],
			input[type=tel],
			input[type=number],
			input[type=password], 
			textarea,
			select {
				border: 1px solid #969696;
				@include font-size(18);
				padding: 0.4em 1em;
				color: #696969;
				@include border-radius(5px);
				line-height: 29px;
				@include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.50));
			}

			&.validate-required.woocommerce-validated {
				input.input-text {
					background-image: url(../images/woocommerce/icons/valid.png);
					background-position: 95% center;
					background-repeat: no-repeat;
				}
			}
			&.validate-required.woocommerce-invalid {
				input.input-text {
					background-image: url(../images/woocommerce/icons/invalid.png);
					background-position: 95% center;
					background-repeat: no-repeat;
				}
				.chzn-single, .chzn-drop, input.input-text, select {
					border-color: #fb7f88;
				}
			}
			::-webkit-input-placeholder {
				line-height: 1em;
				padding-top: 2px;
			}
			:-moz-placeholder {
				line-height: 1em;
				padding-top: 2px;
			}
			:-ms-input-placeholder {
				line-height: 1em;
				padding-top: 2px;
			}

			&.datepicker,
			&.radio-grid {
				@include device-width(5) {
					float: none;
					width: auto;
				}
			}

			&.radio-grid {
				.options {
					margin: 3em 4em 0 4em;
					border-top: 1px solid #cccccc;
					border-left: 1px solid #cccccc;

					@include device-width(10) {
						margin-left: 0;
						margin-right: 0;
					}

					@include device-width(5) {
						margin-top: 1em;
					}

					.radio-field {
						float: left;
						@include box-sizing(border-box);
						width: 50%;
						border-right: 1px solid #cccccc;
						border-bottom: 1px solid #cccccc;
						.input-radio {
							display: none;
							&:checked {
								& + label {
									background: #266097;
									color: #FFF;
								}
							}
						}

						label {
							display: block;
							text-align: center;
							background: #FFF;
							padding: 1em 2em;
							margin: 0;
							font-size: .9em;
							cursor: pointer;
						}

						&:hover {
							label {
								background: #DADADA;
							}
						}
					}
				}
			}
		}
		.form-row-first, .form-row-last {
			float:left;
			width: 47%;
			overflow: visible;
		}
		.form-row-last {
			float: right;
		}
		.form-row-wide {
			clear: both;
		}
	}

	form.login, form.checkout_coupon, form.register {
		border: 1px solid darken( $secondary, 10 );
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align:left;
		@include border-radius(5px);
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
		}
		.amount {
			font-weight: bold;
		}
	}

	/* =Checkout
	-------------------------------------------------------------- */

	&.woocommerce-checkout {

		.page-content {
			padding: 3em;
		}

		input.button {
			text-shadow: none;
			@include opensans;
			margin: 0 0.5em;
			padding: 0.7em;
		}		
	}

	.checkout {
		margin: 0 0 2em 0;
		.col-2 {
			h3 {
				float:left;
				clear:none;
			}

			.notes {
				clear:left;
			}

			.form-row-first {
				clear:left;
			}
		}
		div.shipping-address {
			padding: 0;
			clear:left;
			width: 100%;
		}
		#shiptobilling {
			float: right;
			line-height: 1.62em;
			margin: 0 0 0 0;
			padding: 0;

			label {
				font-size: 0.6875em;
			}
		}
		.shipping_address {
			clear:both;
		}
	}

	#delivery-date,
	#return-date,
	#billing-address,
	#shipping-address {

		> .footer {
			padding: 1em 4.6em 0.5em 1em;

			@include device-width(10) {
				padding-right: 1em;
			}
		}
	}
	/* Payment box - appears on checkout and page page */
	#payment {

		ul.payment_methods {
			@include clearfix();
			text-align:left;
			padding: 1em;
			border-bottom: 1px solid darken( $secondary, 10 );
			margin: 0;
			list-style:none outside;
			li {
				line-height: 2em;
				text-align:left;
				margin: 0;
				font-weight:normal;
				input {
					margin: 0 1em 0 0;
				}
				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					position: relative;
				}
			}
		}

		div.form-row {
			padding: 1em;
			border-top: 1px solid lighten( $secondary, 5 );
		}
		#place_order {
			float: right;
			margin: 0;
		}
		.terms {
			padding: 0 1em 0;
			text-align: right;
		}
		div.payment_box {
			position: relative;
			width: 96%;
			padding: 1em 2%;
			margin: 1em 0 1em 0;
			font-size: 0.92em;
			@include border-radius(2px);
			line-height: 1.5em;

			@include vertical-gradient( darken( $secondary, 5 ), darken( $secondary, 10 ) );
			@include box-shadow(0,1px,2px,0,rgba(0,0,0,0.25));
			color: $secondarytext;
			

			p:last-child {
				margin-bottom: 0;
			}
			#cc-expire-month, #cc-expire-year {
				width: 48%;
				float:left;
			}
			#cc-expire-year {
				float: right;
			}
			span.help {
				font-size: 11px;
				color: $subtext;
				line-height: 13px;
				font-weight:normal;
			}
			.form-row {
				margin: 0 0 1em;

				select {
					width: 48%;
					float:left;
					margin-right: 3.8%;
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
			&:after {
				content: "";
				display:block;
				border: 8px solid darken( $secondary, 5 ); /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position:absolute;
				top: -3px;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}
	}

	#order_review {
		border-top: 1px solid #cccccc;
		margin: 0 0 2em 0;
		.product-thumbnail {
			padding: 0;
			width: 40%;
			> a,
			img {
				display: block;
			}
		}

		.shop_table {
			border-bottom: 1px solid #cccccc;
			margin-bottom: 0;
			th {
				text-align: center;
				color: #FFF;
				@include vertical-gradient(#4A90E2, #2F77CC);	
			}
		}
	}

	/* =Order Page
	-------------------------------------------------------------- */

	.order_details {
		@include clearfix();
		margin: 0 0 1.5em;
		list-style:none;

		li {
			float:left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1em;
			border-right: 1px dashed darken( $secondary, 10 );
			padding-right: 2em;

			strong {
				display:block;
				font-size: 1.4em;
				text-transform:none;
				line-height: 1.5em;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	/* =Account Page
	-------------------------------------------------------------- */


	&.page-my-account {
		.page-content {
			padding: 3em;
		}
	}

	.addresses {
		.title {
			@include clearfix();

			h3 {
				float:left;
			}
			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight:bold;
				margin-bottom: 0;
			}
			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;
		li {
			list-style:none;
			margin-left: 0;
			padding-left: 1.5em;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat; /* download icon */
			.count {
				float: right;
			}
		}
	}

	/* =Layered Nav Widget
	-------------------------------------------------------------- */

	.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			li {
				@include clearfix();
				padding: 0 0 1px;
				list-style:none;
				a, span {
					padding: 1px 0;
					float:left;
				}
			}
			li.chosen {
				a {
					padding: 0 6px 0 18px;
					border: 1px solid $tertiary;
					background: $tertiary url(../images/woocommerce/cross_white.png) no-repeat 6px center;
					@include inset-box-shadow(0, 1px, 1px, rgba(255,255,255,0.5));
					color: $tertiarytext;
					@include border-radius(3px);
				}
			}
			small.count {
				float: right;
				margin-left: 6px;
				font-size: 1em;
				padding: 1px 0;
				color: $subtext;
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			overflow: hidden;
			zoom: 1;
			li {
				float: left;
				padding: 0 1px 1px 0;
				list-style:none;
				a {
					padding: 0 6px 0 18px;
					border: 1px solid $tertiary;
					background: $tertiary url(../images/woocommerce/cross_white.png) no-repeat 6px center;
					@include inset-box-shadow(0, 1px, 1px, rgba(255,255,255,0.5));
					color: $tertiarytext;
					@include border-radius(3px);
					float: left;
				}
			}
		}
	}

	/* =Price Filter Widget
	-------------------------------------------------------------- */

	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}
		.price_slider_amount {
			text-align: right;
			line-height: 2.4em;
			font-size: 0.8751em;
			.button {
				font-size: 1.15em;
			}
			.button {
				float:left;
			}
		}
	   .ui-slider {
			position: relative;
			text-align:left;
		}
	   .ui-slider .ui-slider-handle {
			position:absolute;
			z-index: 2;
			width: 0.9em;
			height: 0.9em;
			@include border-radius(1em);
			border: 1px solid darken( $tertiary, 50 );
			cursor: pointer;
			@include vertical-gradient( $tertiary, darken( $tertiary, 10 ));
			outline:none;
			top: -.3em;
			-webkit-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			-moz-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);

			&:last-child {
				margin-left: -1em;
			}
		}
	   .ui-slider .ui-slider-range {
			position:absolute;
			z-index: 1;
			font-size: .7em;
			display:block;
			border: 0;
			background: $tertiary url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x; /* transparent png */
			@include inset-box-shadow(0,0,0,1px,rgba(0,0,0,0.5));
			@include border-radius(1em);
		}
	   .price_slider_wrapper .ui-widget-content {
			@include border-radius(1em);
			@include vertical-gradient( $quaternary, lighten( $quaternary, 30 ) );
		}
	   .ui-slider-horizontal {
			height: .5em;
		}
	   .ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}
	   .ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

	   .ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}
} // end .woocommerce-page namespacing wrap


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.woocommerce, .woocommerce-page {
		a.button, button.button, input.button, #respond input#submit, #content input.button {
			&.loading {
				&:before {
					background-image: url(../images/woocommerce/ajax-loader@2x.gif);
					background-size: 16px 16px;
				}
			}
			&.added:before {
				background: url(../images/woocommerce/success@2x.png) no-repeat;
				background-size:16px 14px;
			}
		}
		.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
			background-image: url(../images/woocommerce/icons/valid@2x.png);
			background-size: 12px 9px;
		}
		.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
			background-image: url(../images/woocommerce/icons/invalid@2x.png);
			background-size: 12px 9px;
		}
		p.stars {
			span {
				background-image: url(../images/woocommerce/star@2x.png);
				background-size: 16px 48px;
				a:hover, a:focus {
					background-image: url(../images/woocommerce/star@2x.png);
					background-size: 16px 48px;
				}
				a.active {
					background-image: url(../images/woocommerce/star@2x.png);
					background-size: 16px 48px;
				}
			}
		}
	}
}

table.shop_table {
	margin: 0px -1px 24px 0px;
	text-align:left;
	width: 100%;
	border-collapse: separate;
	@include border-radius(5px);
	th {
		
		line-height: 18px;
		padding: 2em;
	}
	td {
		border-top: 1px solid rgba(0,0,0,0.1);
		padding: 2em;
		vertical-align: middle;
		small {
			font-weight: normal;
		}
	}
	tfoot td,  {
		border-top: 1px solid rgba(0,0,0,0.1);
	}

	tfoot th {
		
		border-top: 1px solid rgba(0,0,0,0.1);
	}
}